[2019-08-25 04:06] PowerBroker2 opened #1 "Implement COBS for Start Byte"
See title

[2019-08-30 18:50] #1 closed, assigned to nobody

[2019-12-06 00:17] Eddiiie opened #6 "Start / End Markers"
Hello,

I am considering using your library for a device I am hacking on as your packet format matches the device's packet almost exactly.

On my device start is 0xAA and end is 0x55 ..    Your's are different and I can change that but in both implementations there is a possibility of the checksum total could be a value in the stream / packet.

In my situation, then end Char is 0x55, a capital U.

[2019-12-07 20:25] PowerBroker2 commented on #6
With my library, you can have a payload byte that is equal to the end marker (mine being 0x81) and it will parse perfectly fine. The available() function doesn't check for the reception of the end marker while parsing the payload. It's only after it matches checksums does it see if the next received byte is the end marker.

Does this answer your question?

I'm certain that this library will work f

[2019-12-07 20:32] PowerBroker2 opened #7 "Add Member Functions to Handle Floats"
See title

[2019-12-11 04:05] #6 closed, assigned to nobody

[2019-12-11 23:49] #7 closed, assigned to nobody

[2019-12-25 16:32] antno1000 opened #10 "Getting 0s at Rx in Arduino Uno when connected via software Serial"
**Describe the bug**
Running the attached Examples Arduino file namely **rx_multiple_objects.ino** and **tx_multiple_objects.ino** gives 0s instead of struct and array's data at receiving end.
the problem seems to be with  myTransfer.txObj() function as the data sent directly via myTransfer.txBuff[0]='h';  seems to appear  just fine.

the example was run without any modifications other than using

[2019-12-27 01:59] ghost commented on #10
@PowerBroker2
I had the same problem, I used nodemcu and due , then I hope to make it easier to transfer strings

[2019-12-27 03:21] PowerBroker2 commented on #10
I haven't looked into it in depth yet (soon), but one thing to note is that you may get errors if the endian-ness or processor is different (i.e. 8-bit processor vs a 32 bit processor)

[2019-12-27 03:40] PowerBroker2 commented on #10
So it looks like the bytes **are correctly transferring**, but the passed objects are **not being correctly updated**.

For debugging purposes, I used the code below to print the packet payload bytes individually and got the following results:

Debugging Code:
[code]

Results:
![screen_cap](https://user-images.githubusercontent.com/20977405/71499879-86016100-2830-11ea-8fff-8b0883c845af.PNG)

I wil

[2019-12-27 03:53] PowerBroker2 commented on #10
Ok, found the issue and fixed it. Using two Mega MCUs I now have the following (successful) results:

![fix](https://user-images.githubusercontent.com/20977405/71500321-7edb5280-2832-11ea-9fa8-f94a4a07e743.PNG)

[2019-12-27 03:56] PowerBroker2 commented on #10
Thank you both for uncovering and reporting the bug! Please let me know if you have any other problems or improvements.

[2019-12-27 03:56] #10 closed, assigned to PowerBroker2

[2019-12-27 05:30] antno1000 commented on #10
Thanks for fixing it, I'll give it a try!!

[2019-12-27 10:06] ghost opened #11 "Unable to transmit string correctly"
**Describe the bug**
I tested with nodemcu and due , examples work fine
So I tried to transfer the string ,

**To Reproduce**
Steps to reproduce the behavior:
1. Download [them](https://cdn.discordapp.com/attachments/627701490173345811/660058877852909578/code.rar) and upload to arduino
2. See error ' ? '

**Expected behavior**
rx should show the string , but I get a bunch of  ' ? '

**Screenshots*

[2019-12-27 16:30] PowerBroker2 commented on #11
Using "S"trings isn't the best idea to use with Arduinos because they can lead to memory issues and whatnot.

Regardless, I'll take a look

[2019-12-27 21:23] PowerBroker2 commented on #11
I've decided that the use of Strings within structs will not be supported because of how Strings work and are stored in memory. As a fix, you can change your struct members from Strings to char arrays and use the str.c_str() member function to convert your strings. See this link: [http://www.cplusplus.com/reference/string/string/c_str/](url)

[2019-12-27 21:24] PowerBroker2 commented on #11
I may soon add a new function to transfer individual Strings - just not within structs.

[2019-12-28 07:29] ghost commented on #11
I tried to transmit using char array, but I couldn't receive it
[code.zip](https://github.com/PowerBroker2/SerialTransfer/files/4006830/code.zip)
![unknown (6)](https://user-images.githubusercontent.com/24543050/71540529-cc68d400-2986-11ea-9c91-7b04efd55ec9.png)

[2019-12-28 21:19] PowerBroker2 commented on #11
Your code won't compile - not even sure how you were able to test it...
Error:

You will need to specify a max array length for the member char arrays. I tested your code specifying max array length of 10 for each and got successful results.

Here's what I changed the struct definition to (in both RX and TX sketches):
[code]

[2019-12-28 21:19] #11 closed, assigned to nobody

[2019-12-29 02:11] ghost commented on #11
Thank you !

[2020-03-08 05:27] SSolheim2000 opened #12 "SerialTransfer <variable> breaks ability to read SD card."
Here's my code: [LED_Sequencer_Working_Copy - Copy.txt](https://github.com/PowerBroker2/SerialTransfer/files/4302865/LED_Sequencer_Working_Copy.-.Copy.txt)

**Describe the bug**
When I activate (uncomment) the line "SerialTransfer myTransfer;", my program can no longer read the DATA.txt file located on the SD card.

**To Reproduce**
Steps to reproduce the behavior:
1. I've added in the code from t

[2020-03-08 05:31] PowerBroker2 commented on #12
What exactly do you mean? How do you know it's not reading the file?

[2020-03-08 05:45] PowerBroker2 commented on #12
Also, what Arduino are you using?

[2020-03-08 05:54] SSolheim2000 commented on #12
I'm using an UNO R3.
When I have the line not commented out, I get an error message in the Serial Monitor:

![Serial Monitor Error](https://user-images.githubusercontent.com/61861784/76157482-e2092100-60ce-11ea-9666-ebbe815a6982.jpg)

  // Setup for the Serial Transfer module
    #include <SerialTransfer.h>
    SerialTransfer myTransfer;

[2020-03-08 05:56] SSolheim2000 commented on #12
When it's commented out, I get the expected data in the Serial Monitor:
![Serial Monitor Normal](https://user-images.githubusercontent.com/61861784/76157500-3ad8b980-60cf-11ea-91c4-e8a29affe8f8.jpg)

// Setup for the Serial Transfer module
    #include <SerialTransfer.h>
    //SerialTransfer myTransfer;

[2020-03-08 06:51] PowerBroker2 commented on #12
There's really no reason the library is causing an issue. I've been able to use the library successfully with an SD card [(see here)](https://github.com/PowerBroker2/RND_Flight_Code/blob/master/Data_Logger/Data_Logger.ino).

The only thing I can think of is that you're using ~73% of the Uno's dynamic memory. Even then, I'd only get worried once it hits 90%, so idk.

I suggest getting something lik

[2020-03-08 16:02] SSolheim2000 commented on #12
I changed all my "int" variables to "byte" and now it's working fine. Thanks for the good lead and quick responses!!

[2020-03-08 16:02] #12 closed, assigned to PowerBroker2

[2020-03-26 08:38] qinglong1224 opened #13 "Can you add support for stm32duino board"
Hello ,
       Can you add support for stm32duino board?

[2020-03-26 18:16] PowerBroker2 commented on #13
What problems are you having with the stm32duino board in terms of this library? Is it a compile-time error or runtime-error?

[2020-03-26 20:37] PowerBroker2 commented on #13
This should be fixed in [release 1.3.0](https://github.com/PowerBroker2/SerialTransfer/releases/tag/1.3.0).

[2020-03-28 22:36] PowerBroker2 commented on #13
Due to lack of response from OP I'm assuming the issue is resolved and am closing this issue.

[2020-03-28 22:36] #13 closed, assigned to PowerBroker2

[2020-04-04 17:20] Tomblarom opened #15 "RX <> TX forwarding"
Sorry, I found no way to write you an email. I'm currently working on reading the communication between controller and display of my bafang ebike. The official Arudino commands are way to slow. Maybe the only solution is to directly program in C.. Have a look at my code. Am I doing anything wrong? I tried removing / playing with the delay timings. Nothing helped. The display of my ebike has commun

[2020-04-04 18:12] PowerBroker2 commented on #15
I don't have enough context about your project to understand what you're trying to accomplish. SerialTransfer.h is for Arduino <--> Arduino or Arduino <--> PC (Python) communication only. Do you have an Arduino controlling the bike? If you want to do serial port forwarding, you don't need the lib - but if you're only doing port forwarding, why have the Arduino in the first place?

[2020-04-04 19:46] Tomblarom commented on #15
[This is the project](https://endless-sphere.com/forums/viewtopic.php?t=94850) I'm working on. My intention in using your lib, was to speed up the communication, if the arduino is in between. The Arduino sits in between controller and display, sniffing uart packages and reprogramming the controller if needed.

Even with this simple code I posted earlier, there's a huge delay of 2-3 seconds, in upd

[2020-04-04 23:54] PowerBroker2 commented on #15
You don't need "pure C" - all of the delay is most likely happening in the display itself. Since neither the bike controller nor the display know how to handle SerialTransfer packets, you can't use it to do port forwarding in this case. You can do a simple while loop like this:

[code]

If you have any more questions on how to do this, please ask in [the Arduino forum](https://forum.arduino.cc/) a

[2020-04-04 23:54] #15 closed, assigned to PowerBroker2

[2020-04-15 02:18] qinglong1224 opened #17 "SerialTransfer conflicts with the AccelStepper library"
When configuring the send / receive structure in the loop, the Stepper runs incorrectly. Comment out that the send and receive Stepper works well.

[2020-04-15 02:27] PowerBroker2 commented on #17
You've provided incredibly little context to this issue and from what little _was_ provided it sounds more like a user error than library issue. If you want me to look into it, please post a clear description of your project, your entire code, full schematic, any error printouts, and what exactly is going wrong with your project.

[2020-04-15 02:28] qinglong1224 commented on #17
![image](https://user-images.githubusercontent.com/36724369/79292502-d990db00-7f03-11ea-9d40-72ab13277d6e.png)

[2020-04-15 02:33] qinglong1224 commented on #17
There is no problem in the compilation process. In controlling the stepper, the speed and the number of steps are wrong. Comment out that rx tx stepper runs correctly

[2020-04-15 05:30] qinglong1224 commented on #17
![image](https://user-images.githubusercontent.com/36724369/79301828-27660d00-7f1d-11ea-95ea-65ef7faf00aa.png)
![image](https://user-images.githubusercontent.com/36724369/79301847-32b93880-7f1d-11ea-920a-d658327c5283.png)
![image](https://user-images.githubusercontent.com/36724369/79301881-46fd3580-7f1d-11ea-91ae-a0247d830c3e.png)
![image](https://user-images.githubusercontent.com/36724369/7930189

[2020-04-15 05:35] qinglong1224 commented on #17
This is my program. I want to use it to control 42 stepper motors. During the test, the stepper is not running correctly. There is no problem with the compilation. The stepper is also running, but it is not running correctly. The comment sending and receiving stepper runs correctly

[2020-04-15 06:20] qinglong1224 commented on #17
stepping motor(42mm). Throughout the test, the stepping motor still runs but it runs wrongly,without any problem in compiling.
Comment "send"and "receive",the stepping motor works fine

[2020-04-15 12:13] gfvalvo opened #18 "calcOverhead Function Incorrect?"
It looks to me like the calcOverhead function actually finds the **LAST**  occurrence of START_BYTE in the payload, not the first one as stated in the comments (and assumed by the unpackPacket function).

To find the **FIRST** occurrence, do:
[code]
Or, run the existing loop backwards.

[2020-04-15 17:35] PowerBroker2 commented on #18
The documentation might be off. I originally tried a different way of doing COBS before settling on the design I have now. Let me do some testing to see if there is truly a bug.

[2020-04-15 18:19] PowerBroker2 commented on #18
Yup, it's a bug. I'll fix it asap - thank you so much for bringing this to my attention!

[2020-04-15 18:24] PowerBroker2 commented on #18
Should be fixed in [release 1.4.1](https://github.com/PowerBroker2/SerialTransfer/releases/tag/1.4.1)

[2020-04-15 18:24] #18 closed, assigned to PowerBroker2

[2020-04-15 18:28] PowerBroker2 commented on #17
When posting code in GitHub issues, [please use correct markdown](https://help.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks) instead of screenshots. Please post your code correctly so I can take a look at it.

[2020-04-15 23:23] qinglong1224 commented on #17
[receive.zip](https://github.com/PowerBroker2/SerialTransfer/files/4484135/receive.zip)

[2020-04-15 23:25] qinglong1224 commented on #17
[code]

[2020-04-15 23:33] PowerBroker2 commented on #17
Thank you for the code in tags. What is your Arduino attempting to communicate with? Is it another Arduino? Is it a Python program? Is it user input from the Serial Monitor?

[2020-04-15 23:38] qinglong1224 commented on #17
arduino uno

[2020-04-16 00:00] PowerBroker2 commented on #17
Can you post the Uno's code AND a schematic? How are the Arduinos and motors wired?

So far I don't see anything that suggests the library is at fault here.

[2020-04-16 00:21] qinglong1224 commented on #17
The TB6600 used by the driver has a common anode, pin 2 is connected to Dir-, pin 3 is connected to step-, you can directly put the motor running code into the loop, and the motor runs incorrectly.
The motor runs correctly without using the SerialTransfer library.

Stepper motor operation error:
#include <SerialTransfer.h>
#include <ST_CRC.h>
#include <AccelStepper.h>
#include <MultiStepper.h>

Se

[2020-04-16 02:04] PowerBroker2 commented on #17
Not a library issue - user error. You haven't proven the library is broken and I'm tired of dealing with the unprofessional and lazy posts you've provided in this issue.

If you need help with your project, please post a question in the [Arduino forum](https://forum.arduino.cc/)

[2020-04-16 02:04] #17 closed, assigned to PowerBroker2

[2020-04-19 09:46] ghost opened #19 "Missing transmission data"
**Describe the bug**
I tried to transfer the char array, but sometimes the data received by rx is missing

**To Reproduce**
Steps to reproduce the behavior:
Use these codes
RX
[code]
TX
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/24543050/79684664-d8461200-8265-11ea-9eb6-82a05f0d72bc.png)
The first index of the char array received by rx is usually missing or incomple

[2020-04-19 19:51] PowerBroker2 commented on #19
2 things:

1.) NodeMCU has at least one extra hardware serial port. Why use SoftwareSerial?
2.) You don't have to send a struct if the struct only has one object inside of it. You can use `(class).txObj(array)` and `(class).rxObj(array)` to transmit a simple array.

Also, I was able to successfully validate the library using these sketches on two of my Arduino Megas:

TX:
[code]

RX:
[code]

Respo

[2020-04-21 16:39] PowerBroker2 commented on #19
No response yet, so I assume you have it all sorted out

[2020-04-21 16:39] #19 closed, assigned to PowerBroker2

[2020-04-23 15:15] fatahillahardhi opened #20 "Error sending data with variables"
Hi, im newbie in Arduino, i try to sending multiple data with arduino uno and will received by nodemcu, in this case i will use variable data1 and data2, but nodemcu receive like this

![nodemcu serialtransfer](https://user-images.githubusercontent.com/21995370/80115924-8972e200-85af-11ea-9640-691f984628c0.PNG)

this code will be implement to my project with 2 sensor, that's why i need variable fo

[2020-04-23 18:11] PowerBroker2 commented on #20
Instead of stuffing the array `myTransfer.txBuff` manually (as you're doing in the TX sketch), you should use `myTransfer.txObj()` and `myTransfer.rxObj()` to send and receive data. For example, try this:

TX:
[code]

RX:
[code]

[2020-04-23 20:22] fatahillahardhi commented on #20
Hi, @PowerBroker2 i've been trying ur code, and its not problem, but when i use this code to my project which is use 2 rfid readers (MFRC522), the nodemcu didnt receive the data, the result is like this

COM5 is RX and COM3 is TX
![error2](https://user-images.githubusercontent.com/21995370/80145433-5db92180-85da-11ea-92b5-d8c35e3e6eb5.PNG)

and for now i use Arduino Mega 2560

code **Arduino Mega

[2020-04-23 20:37] PowerBroker2 commented on #20
[code]

[2020-04-23 21:15] fatahillahardhi commented on #20
uh sorry! i was wrong to paste the code

this is **NodeMCU (RX)** code that i use and the result still same

[code]

[2020-04-23 21:42] PowerBroker2 commented on #20
Try using `Serial.print(count#);` instead of `Serial.write(count#);`

[2020-04-23 21:49] fatahillahardhi commented on #20
i've been trying, but the result is not same with the data, count0 and count1 only showing **0** everytime when i send the data

![error3](https://user-images.githubusercontent.com/21995370/80153127-2dc44b00-85e7-11ea-81e4-64706fbc794c.PNG)

[2020-04-23 22:53] PowerBroker2 commented on #20
Try these sketches:

TX:
[code]

RX:
[code]

[2020-04-24 10:13] fatahillahardhi commented on #20
Hi @PowerBroker2 , i've been trying this code, everything is ok for count0 there is no problem, but the error comes for count1, the data give random number for count0 even though i send data for count1.

![error4](https://user-images.githubusercontent.com/21995370/80201784-d3f76b80-864e-11ea-9b23-6429303ab3aa.PNG)

[2020-04-24 13:17] fatahillahardhi commented on #20
hi @PowerBroker2 the problem has solved now, im trying to remove struct and use array, its work correctly, thank you very much for your help!!

my **Arduino Mega (TX)** code:
[code]

my **NodeMCU (TX)** Code
[code]

[2020-04-24 13:17] #20 closed, assigned to PowerBroker2

[2020-06-22 15:39] finostro opened #22 "Add support for acessing packet ID"
**Is your feature request related to a problem? Please describe.**
I am sending multiple message types, And would like to fill different objects depending on the packetID, Buy IdByte is private.

**Describe the solution you'd like**
make idByte public or make an access function to it

**Describe alternatives you've considered**
For now I will use message length to differentiate the messages, but u

[2020-06-23 05:07] PowerBroker2 commented on #22
Should be fixed in [release 2.0.2](https://github.com/PowerBroker2/SerialTransfer/releases/tag/2.0.2)

[2020-06-23 05:07] #22 closed, assigned to PowerBroker2

[2020-06-27 19:06] finostro commented on #22
Great! Thank you!

[2020-06-29 07:10] BrainStone opened #23 "Mirror library for computers/linux"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to use this library to communicate with an arduino from a linux machine. However the project I'd like to implement this in cannot make use of the python mirror library.

**Describe the solution you'd like**
I'm looking for a computer/linux mirror library.

**Describe alternatives you've considered**
I've taken a

[2020-06-29 11:39] PowerBroker2 commented on #23
When you say the Python library isn't working out for you, do you mean there's a bug in the Python library or your PC code isn't originally meant for Python?

[2020-06-29 12:22] BrainStone commented on #23
I mean that the project itself is written in C++ and I can't integrate a python library

[2020-06-29 13:40] dalise opened #24 "Is it possible to add the ability to support RS485 Half Duplex?"
**Is your feature request related to a problem? Please describe.**
Is it possible to adapt the SerialTransfer library to work with a half duplex RS485 network?
I have two networks (one which I currently use the SerialTransfer library for), the 2nd network however is RS485 and hence I am looking at a library with the capabilities of the full duplex SerialTransfer library in a half duplex package.

[2020-06-29 19:47] PowerBroker2 commented on #23
Ah, ok. I can port the lib to a Linux C++ library, but no promises on a date to have it complete by.

[2020-06-29 20:34] BrainStone commented on #23
That would be much apprechiated!

Do you have a rough guess on how long it'll take? I do understand not wanting to commit to a date and I won't bug you about it, but I'd love to know if it's worth waiting of if I need to look for other ways to get the linux computer talking.

[2020-06-29 20:52] PowerBroker2 commented on #23
I can make an empty repo for it today. That way anyone in the community can contribute to it and progress will be faster. Also, I don't have a Linux machine or much experience with Linux, so I would need help with testing anyway.

Basically, I can start today, but might take a month or so to finish it. If others in the open source community help, it should go faster.

[2020-06-29 20:54] BrainStone commented on #23
Alright. I should be able to help out.

[2020-06-29 20:55] PowerBroker2 commented on #23
Here's the link: [https://github.com/PowerBroker2/CSerialTransfer](https://github.com/PowerBroker2/CSerialTransfer)

[2020-06-29 21:41] BrainStone commented on #23
For testing you can just use WSL. Or at least for compiling.
A virtual machine should work just fine too.

[2020-07-03 03:20] PowerBroker2 commented on #24
Node addressing can be taken care of via the new field "packet ID" - basically messages from each node could have a unique "packet ID" value, thus acting as a sort of "node ID".

The flow control portion of your question is a little harder to solve. The library doesn't natively support software flow control logic, but you could manually implement your own software flow control logic at the sketch

[2020-07-03 06:44] dalise commented on #24
Its does indeed help!
I have just been testing the packet ID feature and that has saved me a lot of work!
Also I agree, it makes sense to manage the flow control outside of the library as the baud rate will affect the critical timing required for the enable lines. Time for me to drag out the logic analyser :)
By the way, great work on the library, it's well documented, rock solid and easy to imple

[2020-07-03 06:44] #24 closed, assigned to PowerBroker2

[2020-07-03 10:29] BrainStone opened #27 "Licensing"
Hey, I'd like to use this library and its siblings in a proprietary commercial product. Which is not possible with the current GPLv3 license.
I'd like to discuss this matter with you in private but I sadly was not able to find contact information for contacting you in private.

I'd prefer you reach out to me over Discord: *redacted*
If you don't use Discord, you can contact me on my email: *redact

[2020-07-06 06:49] BrainStone commented on #27
Hi. I haven't heard from you on any of those channels. Would you mind reaching out? We intent to pay you for those special usage rights.

[2020-07-06 16:20] PowerBroker2 commented on #27
Sorry, been thinking things over. I want everyone to be able to use my code for anything they want (as long as it isn't nefarious) whether it's for a closed or open source project. I'm not sure how the GPLv3 license prevents you from using it in a proprietary commercial product, but I went ahead and changed it to an MIT License anyway. I don't think the MIT one has any restrictions on use-cases.

[2020-07-06 17:21] BrainStone commented on #27
Well the issue with the GPL licenses is that they require projects that use projects licensed under GPL to be licensed and published (both source and binary) under GPL too.
In short it's a "contagious" license. And therefore very popular in OS projects as it makes sure that everything using those projects remains OS too. Though naturally there's also some controversy about that.

And yes an MIT li

[2020-07-06 17:21] #27 closed, assigned to PowerBroker2

[2020-07-07 06:56] BrainStone commented on #23
Would you mind giving this project a start? Like with the build tools and the like. There's quite a few and I don't want to make that decision for you.

If you're asking me, I'd say CMake. Decent learning curve, works well with VisualStudio (VisualStudio has support for Linux CMake projects) and is overall commonly used.

[2020-07-21 14:48] BrainStone opened #33 "SerialTransfer::available() only reads 1 byte per call"
Alright. Either there's something wrong with your code or I'm going crazy.
But as I read the code calling `SerialTransfer::available()` only ever reads a single byte instead of trying to fetch the whole packet.

https://github.com/PowerBroker2/SerialTransfer/blob/234c7e35fd03cff5838c474b24b6247ab37eb165/src/SerialTransfer.cpp#L94-L109

Now if I am reading that correctly that is in fact an issue. M

[2020-07-21 15:19] luke-iqt opened #34 "Error compiling examples on Arduino Nano 33 BLE"
**Describe the bug**
The library will not compile on the Arduino Nano 33 BLE. I tried to compile the uart_tx_data example and got the following error:
[code]
I think that SPI maybe implemented differently on this board.

**To Reproduce**
Steps to reproduce the behavior:
1. Goto examples, board uart_tx_data
2. Select the Arduino Nano 33 BLE as Board Type
3. compile

**Desktop (please complete the f

[2020-07-21 16:30] PowerBroker2 commented on #33
Ah, good catch - another set of my airhead mistakes lol. I'll take a deeper look into it and fix it soon. Thanks for the heads up!

Also, with the Linux thing - I don't think I have enough time/experience with the OS to figure it out anytime soon.

[2020-07-21 16:39] PowerBroker2 commented on #34
The Arduino Nano 33 BLE is always a troublemaker...It might take a while to figure out how to interface with SPI correctly on an Arduino Nano 33 BLE due to lack of examples from a quick google search. However, if you know the SPI register names are for your Nano 33, let me know and I'll try and fix it.

[2020-07-21 17:04] PowerBroker2 commented on #33
Should be fixed in release 3.0.2.

[2020-07-21 17:04] #33 closed, assigned to PowerBroker2

[2020-07-21 19:18] BrainStone commented on #33
I think it's only byte by byte in SPI too. Forgot to mention that. I²C is fine from what I saw.

[2020-07-21 22:18] PowerBroker2 commented on #33
I'm not very experienced with SPI so I could be wrong, but I was under the impression the ISR fires on each byte received automatically - there is no SPI.available(), is there?

[2020-07-21 22:19] BrainStone commented on #33
I'm not experienced either. Just something I noticed.

[2020-07-22 13:48] ghost commented on #34
This bug also apllies to arduino due.

[2020-07-22 13:56] ghost commented on #34
I had to delete SPITransfer.h and cpp since I am not using spi. It would be nice to have a fix though.

[2020-07-22 14:26] BrainStone opened #35 "Giving the library the final polish"
I think you might have noticed by now that I really like your library.

And at this point I'd like to give something back to you.
Now I have some decent experience designing libraries and software in general and I have a few suggestions (that I'm all willing to implement myself):

- Use inheritance for the specializations:
  This is a fun one! Now I like that you separated the package code into it

[2020-07-22 14:49] BrainStone commented on #35
This is how to implement the lookup table with constexpr: https://stackoverflow.com/a/34465458/1996022
(Mostly for future reference to myself)

[2020-07-22 20:49] PowerBroker2 commented on #35
I remember thinking about doing inheritance before the big update and decided against it, probably because I completely forgot about virtual functions. I think, however, I can implement inheritance for at least the UART portion of the lib - I'll have to do more looking into SPI/I2C to see if it'll work there too (I assume it'll work, but I want to make sure).

As for the `constexpr` tip, unfortuna

[2020-07-22 20:53] PowerBroker2 commented on #35
Absolutely, feel free to fork and PR - I'm interested to see how good this lib can get!

[2020-07-22 21:41] PowerBroker2 commented on #34
Should be fixed in [3.0.3](https://github.com/PowerBroker2/SerialTransfer/releases/tag/3.0.3). Unfortunately, since there wasn't a good fix for either board, I've decided to not support these boards in terms of SPI. UART and I2C functionality should still work, however.

[2020-07-22 21:41] #34 closed, assigned to PowerBroker2

[2020-07-27 15:24] ghost opened #38 "No messages received after buffer overflow"
**Describe the bug**
I my code (with several message types), If for some reason the listening code stops calling available() for enough time to fill the buffer. After I get a CRC ERROR and then no messages are received. Sometimes I get no CRC ERROR but no messages are received.

**To Reproduce**
Have not tried to reproduce With a simple example yet.

**Expected behavior**
After an error one or two

[2020-07-27 16:33] PowerBroker2 commented on #38
Might be issues with delays in your code - can you post your entire TX and RX code?

[2020-07-27 21:32] fernass opened #39 "Issue with ESP8266"
Hi guys,
I'm using the SerialTransfer lib in order to send data from an ESP8266 (NodeMCU Lua Amica Modul V2 ESP8266 ESP-12F) to an Arduino Mega2560. Both sketches, for ESP8266 and Arduino are written and uploaded with the Arduino IDE (version 1.8.13).
Up to version 2.1.2 the attached code for the ESP8266 module compiled, linked and worked fine. After updating the library to 3.0.3 (I tried also all

[2020-07-27 21:42] PowerBroker2 commented on #39
Yeah, with release 3.0.0 I added support for SPI and I2C communication. For some reason, though, not all Arduinos have the same SPI API and it breaks the entire library. I wasn't (and still aren't) sure which boards it is broken for.

You can delete SPITransfer.h and SPITransfer.cpp to fix it relatively easily yourself if you're cool with that.

I don't want to make any changes to the library righ

[2020-07-28 15:24] ghost commented on #38
I am trying (unsuccessfully) to reproduce the error with a smaller example.
The code is a bit long, If I cannot reproduce the error I will post the communication part.

[2020-07-30 17:45] kayyumuddin opened #40 "Arduino to Arduino bidirectional communication over Bluetooth modules"

[2020-07-30 18:06] PowerBroker2 commented on #40
I'm not sure I understand the problem, can you explain your issue? You can use this library with ESP32 modules to include the ESP32 built-in serial bluetooth already. Are you asking for an additional example or an actual new library function? Did you try to communicate between two ESP32s over bluetooth with the lib?

You shouldn't need a lib like this if you're using WiFi.

[2020-07-31 03:43] kayyumuddin commented on #40
Additional example,you didn't mention any serial bluetooth in Readme.md. I'm not familiar with Bluetooth module

[2020-07-31 13:16] PowerBroker2 commented on #40
That comes down to being familiar with your ESP32 - check out [this](https://randomnerdtutorials.com/esp32-bluetooth-classic-arduino-ide/). You can integrate it with the SerialTransfer library by passing a `BluetoothSerial` class instance into `SerialTransfer.begin()` like you would any other `Serial` or `SoftwareSerial` class instance

[2020-07-31 13:16] #40 closed, assigned to PowerBroker2

[2020-08-02 00:06] #39 closed, assigned to PowerBroker2

[2020-08-05 22:44] PowerBroker2 commented on #38
Can't reproduce issue - must be user error (probably due to blocking code) - closing issue

[2020-08-05 22:44] #38 closed, assigned to PowerBroker2

[2020-08-16 14:07] dk12651 opened #41 "Trouble using SoftwareSeriel RS485"
**Describe the bug**
Not working with SoftwareSerial being used with RS485 shield http://store.linksprite.com/rs485-shield-for-arduino-v2-1/

using normal SoftwareSerial like:
`myRS485Serial.print(dataByte); `
works fine

[code]

doesn't work. getting CRC_ERROR message at RX end

**Expected behavior**
byte dataByte should be assigned value at RX end

**Screenshots**

**Desktop (please complete the

[2020-08-17 17:31] PowerBroker2 commented on #41
1. What is your library version? Note that the API changed with some of the latest versions where you can do the following:
[code]
or
[code]
2. Please post your entire TX and RX code

[2020-08-18 15:17] dk12651 commented on #41
I think I have figured out what the issue is.  Issue #20 was similar to the issue I was having.
this does not work in my case. @PowerBroker2  wrote:
`myTransfer.rxObj(data, sizeof(data));`
another had:
`myTransfer.rxObj(data, sizeof(data),recSize);`
To make it work for me I have:
` myTransfer.rxObj(data, 0, sizeof(data));`
or
`myTransfer.sendData(myTransfer.txObj(data));`

Full working code below

[2020-08-18 15:37] #41 closed, assigned to PowerBroker2

[2020-08-26 20:35] martincizek opened #42 "Invalid memory access in all callback examples"
According to the code, `SerialTransfer` requires the passed callback array to stay allocated for its whole lifetime.
1. This is not documented.
2. All the callback-related examples are actually accessing reusable stack memory.

**Steps to reproduce**: A modified `uart_rx_with_callbacks.ino` example is attached below - using LED blinking, as I have just one serial. I was able to reproduce it also b

[2020-09-02 01:09] trungie commented on #39
I can confirm this is an issue on 3.0.3. Looking forward to #pr37.

[2020-09-02 13:22] PowerBroker2 commented on #39
I'm currently working on a couple of other projects rn, but at some point the PR will go through

[2020-09-14 17:10] m-dhooge opened #43 "Stop the reading loop as soon as packet.status is not "Continue""
In SerialTransfer::available(), if port->available() is still _True_ when packet has decoded the EndOfFrame byte, the received frame is happily dumped to start receiving the new one.

To Reproduce:
Set the baudrate at 115200 and always send a second EndOfFrame (this was my idea to "ease recovery" in case a byte is not received…). Strangely, this is easier to reproduce with a real UART than with th

[2020-09-14 17:33] PowerBroker2 commented on #43
Interesting - I'll have to take a look and see what's going on

[2020-09-14 17:39] PowerBroker2 commented on #43
Ok, if you go into your local `SerialTransfer.cpp` file and find this function:

[code]

Now, is the problem fixed if you replace the above function with this edited version?:

[code]

[2020-09-15 07:59] m-dhooge commented on #43
Thanks for your quick answer :-)

What worked for me is:  if (status != CONTINUE)

This is more or less the same, but with CONTINUE, you get also the error statuses ;-)

[2020-09-15 20:10] #43 closed, assigned to PowerBroker2

[2020-09-30 18:28] pegrei opened #44 "Error compiling on SAMD21"
**Describe the bug**
I get following errors when including the `"SerialTransfer.h"` header in PlatformIO for a SAMD21:
[code]
After deleting the SPI and I2C headers from the library the errors disappear.

**Desktop (please complete the following information):**
 - OS: Win10
 - PlatformIO with Arduino Framework and Atmel SAM Core

[2020-09-30 23:06] PowerBroker2 commented on #44
Yes, unfortunately, the SPI API is different across Arduino architectures (and VERY annoyingly so), which causes some boards to fail to compile. As you've discovered, if you delete the SPI portion of the lib, everything else works fine. I'll have to add this on the list of unsupported MCUs in [the current dev version of the library](https://github.com/PowerBroker2/SerialTransfer/pull/37). Once the

[2020-10-06 09:31] ronart7329 opened #45 "SerialTransfer for contemporary send and receive"
Good morning, first of all congratulations for the excellent library, but I'm having a problem when I try to do tx and rx from two nodes simultaneously, the nodes locks without apparently send and receive nothing.

Many thanks.

Arturo

[2020-10-06 22:07] PowerBroker2 commented on #45
Can you post a schematic or clear description of your project? Also please post your entire code for both nodes.

[2020-10-06 22:30] ronart7329 commented on #45
My goal is to have a sensor node that I can also configure remotely through a gw node on a serial connected to a kq300 powerline device.
the code:

[tx_sensore_node.txt](https://github.com/PowerBroker2/SerialTransfer/files/5337196/tx_sensore_node.txt)
[rx_gw_node.txt](https://github.com/PowerBroker2/SerialTransfer/files/5337202/rx_gw_node.txt)

the schema:

node sensor (tx) data (temperature, volt

[2020-10-07 01:01] PowerBroker2 commented on #45
TX:
[code]

RX:
[code]

[2020-10-07 01:03] PowerBroker2 commented on #45
Softwareserial is only half duplex. In order to simultaneously send and receive, you must use a hardware UART port. You could also use 2 softwareserial ports on each Arduino - one for each communication direction.

[2020-10-07 01:03] #45 closed, assigned to PowerBroker2

[2020-10-17 15:52] blokerun opened #46 "Library work with Arduino UNO and ESP32"
I cannot transfer different types of data between Arduino Uno and ESP32. If the data is of only one type, for example "float", then everything works, but if I use different types in the structure, for example "float" and "char", then the data on the receiving side (ESP32) is distorted. How to make the library work with different controllers?

[2020-10-18 01:33] PowerBroker2 commented on #46
Both boards are little-endian, so there shouldn't be a problem there (especially if sending just a float works). As for sending multiple values, it should work just fine and the problem is likely in the sketch. Can you post your code?

[2020-10-18 11:54] nup002 commented on #34
This still does not work, at least on the Nano Every. I have tested both Version 3.0.3 and 3.0.4, both installed from the IDE Library manager.
Attempting to compile the example uart_tx_data leads to the following compiler error. I have replaced the arduino install directory with `<arduino dir>`.
[code]

It is frustrating and intuitive to me that trying to compile a project that does not use SPI re

[2020-10-18 18:09] PowerBroker2 commented on #34
You can delete the SPI header file to fix the issue. Currently working on a PR to finally resolve this issue [here](https://github.com/PowerBroker2/SerialTransfer/pull/47).

Sorry for the inconvenience - SPI is handled terribly by Arduino and makes it difficult to make libs for it.

[2020-10-18 22:42] PowerBroker2 commented on #44
Should be fixed with release [3.0.5](https://github.com/PowerBroker2/SerialTransfer/releases/tag/3.0.5)

[2020-10-18 22:42] #44 closed, assigned to PowerBroker2

[2020-10-23 08:23] blokerun commented on #46
There are no problems with identical boards. But I need to transfer data from Arduino UNO to ESP32.
I determined that if the  structure is formed like this:
[code]
then the data on the receiving side is distorted! But if the variables in the structure are arranged like this:

[code]
or, for example, like this:

[code]
then on the receiving side everything works fine even on different platforms - A

[2020-10-23 21:40] PowerBroker2 commented on #46
Can you post your whole code - both sides?

[2020-10-24 08:25] blokerun commented on #46
I've simplified my code to make it clearer. If there is a boolean variable in the structure - the data at the reception is distorted, if I remove the boolean variable - the code works fine. Вut if I put 4 boolean variables in the structure (like this: boolean flag1; boolean flag2; boolean flag3; boolean flag4;), everything works fine at the reception too! In general, between different controllers,

[2020-10-25 20:46] betyar opened #48 "'Serial1' was not declared in this scope"
Hi,

I have been unable to compile my code because I keep receiving the following error:

`'Serial1' was not declared in this scope`

And yet everywhere I see examples without Serial1 not being declared so I can't understand why this is happening.

My code is as follows:

[code]

Any ideas?

Thanks in advance.

[2020-10-25 22:24] PowerBroker2 commented on #48
Because you are using an Arduino that doesn't have multiple UART ports. Instead of using `Serial1`, you can use a [software serial port](https://www.arduino.cc/en/Reference/softwareSerial)

[2020-10-25 22:24] #48 closed, assigned to PowerBroker2

[2020-11-10 02:32] alezulu73 opened #49 "uart read data example problem in ESP-01"
**Describe the bug**
I am trying to run the example uart_rx_data in a ESP-01 board. But when I verify the code I obtain this output:

C:\Users\Familia\Documents\Arduino\libraries\SerialTransfer\src\SPITransfer.cpp: In member function 'uint8_t SPITransfer::available()':
C:\Users\Familia\Documents\Arduino\libraries\SerialTransfer\src\SPITransfer.cpp:111:29: error: 'SPDR' was not declared in this sco

[2020-11-10 03:53] PowerBroker2 commented on #49
Made some edits to the master branch, can you test with these changes and confirm the error is fixed?

[2020-11-10 23:11] PowerBroker2 commented on #49
See latest release

[2020-11-10 23:11] #49 closed, assigned to PowerBroker2

[2020-11-11 18:54] akira-kun commented on #46
Does serialtransfer Uart, i2c ans SPI works with esp8266?

[2020-11-11 21:31] PowerBroker2 commented on #46
It works with UART and I2C, but I don't think it's supported for SPI

[2020-11-12 01:15] akira-kun commented on #46
Very nice, and which one is faster and realible? I2c or serial uart? I need transfer large mp3 files downloaded from https

[2020-11-12 04:27] PowerBroker2 commented on #46
Max clock rate for most arduino boards is 400KHz, but UART maxes out at a baud of 2 million, so UART would be faster. You should do a little research and see if the ESP8266 can do I2C at over 2MHz - that would be the deciding factor.

[2020-11-13 19:57] akira-kun commented on #46
I2C communication between two esp8266 could not be done, I've been trying to use wire.begin in many ports for SDA, SCL, but no way to make it go. Do you know what could be? Now Serial runs like a charm.

[2020-12-17 23:03] CognitiveConnexionist opened #50 "Sending list from arduino UNO to python using SerialTransfer and PySerialTransfer"
Hello,
thanks for sharing your libs freely ,
I require some insights,
rather than a bug it is perhaps more lacking info to make run a very simple task,  here comes my issue when I try to send a small array with 2 integers in it form an arduibo to a pc:

on the arduino UNO side:
[code]
On the PC running Python:

[code]
I was not able to send a small array using your libs... here is the error I am g

[2020-12-18 03:48] PowerBroker2 commented on #50
You need to use `int32_t` to specify the length of each int since Python defaults to 32-bit ints while most Arduinos default to 16-bits

[2020-12-18 06:29] CognitiveConnexionist commented on #50
Thanks for the answer,, now everything works like a charm.
Thanks for the answer and the great libs :)

[2020-12-18 06:34] #50 closed, assigned to PowerBroker2

[2020-12-27 21:15] PowerBroker2 commented on #46
@blokerun

My apologies for getting back to you so late, but I think I found the solution to your issue: When specifying your struct, use the "packed" attribute to make sure the struct is compatible across Arduinos. Here is how you would do it:

[code]

**See [here](https://gcc.gnu.org/onlinedocs/gcc-4.0.2/gcc/Type-Attributes.html) for more info**

[2020-12-29 10:18] #46 closed, assigned to PowerBroker2

[2020-12-30 21:19] asafbokobza commented on #50
Hi
I have same problem.
Could you please share with us an code examples for this.
Thank you and happy new year
Asaf

[2021-01-23 23:12] chrisco484 opened #51 "How do we specify which "node" an I2C packet gets sent to?"
With serial there is only one other node - the one at the end of the serial link.

However with I2C working in a "multi master" environment, any node can send to any other node.

How does the I2CTransfer get told the address of the node to send a frame to?

[2021-01-23 23:25] PowerBroker2 commented on #51
That's not necessarily true, you can have multiple devices listening on the TX line of a UART port.

If you take a look at `sendData()` for I2C, the last parameter `targetAddress` allows you to choose what I2C slave will receive the packet. See below:

https://github.com/PowerBroker2/SerialTransfer/blob/950e7520028557a2f3b6af00f2b2ad85a7f8ffa3/src/I2CTransfer.cpp#L47-L76

[2021-01-24 23:53] chrisco484 commented on #51
Doh! I must have missed that. That's awesome, thanks!

[2021-01-25 00:35] #51 closed, assigned to PowerBroker2

[2021-01-27 09:01] Yash1903 commented on #23
Hello @PowerBroker2  and @BrainStone can i send file using this library.(File already Exist) ?

[2021-01-27 10:29] luc-github opened #52 "Resend when any transfer error"
Hi thank you for your work 😄 ,

I do not know if it is a feature request or documentation request

I see there are callback and error status  (CRC_ERROR/PAYLOAD_ERROR/STOP_BYTE_ERROR) but I do not understand if there is a way to ask for resend specific packet if any error happen. and eventually cancel transfer if error is not recoverable

Is this feature missing or I miss read the sources/examples

[2021-01-27 16:58] PowerBroker2 commented on #23
@Yash1903, yes, you can send a file with this library. I've seen someone transfer 2K jpg pictures from one Arduino to another with SerialTransfer. Check out the [example sketches](https://github.com/PowerBroker2/SerialTransfer/tree/master/examples) whos names are appended by `_file`

[2021-01-27 17:21] PowerBroker2 commented on #52
There isn't a way to automatically request a packet resend. If you need a resend, you'll have to figure out what the best way to request a packet resend for your specific project. It could be as simple as a digital IO signal or as complicated as sending a specific packet to the original sender to trigger a resend.

[2021-01-27 18:38] luc-github commented on #52
yes my guessing was it need to be handle using callback - right ?
but I do not see how the callback get the status error

[2021-01-27 21:18] PowerBroker2 commented on #52
You don't need to use callbacks, but if you do use callbacks, you can still access the status member of the SerialTransfer class like this:

[code]

Note the possible values of `status` is as follows:
https://github.com/PowerBroker2/SerialTransfer/blob/950e7520028557a2f3b6af00f2b2ad85a7f8ffa3/src/Packet.h#L22-L27

[2021-01-27 21:47] luc-github commented on #52
excellent thank you ^_^

[2021-01-27 21:47] #52 closed, assigned to PowerBroker2

[2021-01-29 21:56] chrisco484 opened #53 "IC2 slave examples use reserved address 0"
I2C has 16 reserved addresses which nodes should avoid using as their addresses.

The first 8 (0-7) and last 8 addresses are reserved.

In the IC2 receive examples the IC2 node is set up using:

`Wire.begin(0);`

which is actually using the reserved address '0'.

The first "usable" address for IC2 nodes is 8 so maybe that would be a good choice for the sample.

Details of the reserved address spac

[2021-01-29 22:09] PowerBroker2 commented on #53
I believe the examples were tested and validated as currently written and therefore I think address 0 is usable even if technically "not correct". If you feel it's that important, go ahead and make a PR (also note that the default argument mentioned in the previous issue should also be updated)

[2021-01-30 01:36] chrisco484 commented on #42
@martincizek

OMG - I just wasted hours on this bug and rewired the board a bazillion times thinking I had the wiring wrong.

Unfortunately as the crash is quite severe - as you would expect when you start executing code at a completely random address - there is no error logged - just silence - so you don't know what has happened.

I ended up single stepping all the way to the "crash point" i.e. w

[2021-01-30 08:00] chrisco484 commented on #42
@PowerBroker2

Do you think it would be better to fix the examples or fix the code so that it makes a deep copy of the callback array? If it made a deep copy then users (and the existing examples) could safely create the array on the stack - and the example source code could remain unchanged.

[2021-01-30 19:04] PowerBroker2 commented on #42
I'm not exactly sure how to do that - could you make a PR with all the changes you would like to see?

[2021-01-31 02:28] chrisco484 commented on #42
It might even be more elegant to define a IPacketReceiver interface class and Packet calls that when a packet has been received.

Hmmm, so many options.

[2021-02-01 09:59] martincizek commented on #42
Hey guys, let me follow up on my comment :)

As it appears the "polish" effort (issue #35 and PR #37) will not finish in the immediate future, we should probably address this version.

And I'd vote for just fixing the docs and examples for two reasons:
1. I guess this library should stay lightweight and unopinionated, unless it is very well-advised. Making a dynamically allocated copy is sort of o

[2021-02-01 17:08] #42 closed, assigned to PowerBroker2

[2021-02-03 17:04] Superkris83 opened #56 "Make Arduino talk to Pi Pico (MicroPhyton poort?)"
Hi! I have been using this library for a project where I share a number of variables between 2 Arduinos.

I'm thinking about changing one of the Arduino's to a Raspberry Pi Pico. The physical layer is handled by MAX488 chips in RS422.

Would it be possible to get this library working on the Pi Pico? I see you made a Phyton version, but i guess its not the same as the MicroPhython on the Pi Pico.

[2021-02-04 00:14] PowerBroker2 commented on #56
If you use [this pySerial lib](https://github.com/pfalcon/pycopy-serial), pySerialTransfer might be able to work. Be aware of potential installation issues like [this one](https://forum.micropython.org/viewtopic.php?t=285).

Actually, you're going to need to do something similar (replace big boy Python packages used WITHIN pySerialTransfer with microPython versions) with `os`, `json`, etc.

If you

[2021-02-11 03:33] #53 closed, assigned to chrisco484

[2021-02-11 03:33] #56 closed, assigned to PowerBroker2

[2021-02-11 05:13] chrisco484 commented on #53
It will definitely work in most isolated testing environments. It's when it's added to an existing I2C "network" with a master that's doing broadcasts, and other "mastery" things where the wheels will fall off:

This forum topic discusses I2C broadcasts - which use the reserved adddress "0" (the forum is in relation to Pi but the broadcast concept is specified in the I2C standards so it applies to

[2021-02-11 05:31] chrisco484 commented on #53
@PowerBroker2 Reading further it actually could be dangerous sending a message to a slave at address 0.

I noticed this page in I2C org where is states that when sending to address 0 the following byte represents a command e.g. software reset. Every slave that listens for commands at the broadcast address (i.e. address 0) will perform that command - yikes!

https://www.i2c-bus.org/addressing/gener

[2021-02-24 13:33] benknight135 opened #57 "Reduce library memory usage"
**Is your feature request related to a problem? Please describe.**
I am trying to use this library as part of a project with multiple devices connected with software serial. This libraries large size means I can't use 3 software serials on the Arduino Uno as this makes the memory approx. 110% dynamic memory just to declare all the SerialTransfer instances.

**Describe the solution you'd like**
Red

[2021-02-24 21:49] PowerBroker2 commented on #57
Are you using all 4 SerialTransfer class instances to communicate over `Serial`, or did you mistype that?

Yeah, each class instance has 3 buffers of 255-ish bytes (one for receive, one for transmit, and one for CRC lookups). I understand there's a bit of overhead, but you can mitigate it to some degree if you do these things:

1. Minimize the number of ports used: Take advantage of the full duple

[2021-02-24 22:07] benknight135 commented on #57
Yes those extra serials where a typo. I've edited it to reflect how I intended.

Thank you for the advice I will try out your suggestions. I need to communicate both ways on all the devices so it's quite complex to manage.

[2021-03-08 02:49] michaelwro opened #58 "Issue With UART Send/Receive"
Hi, I really like your SerialTransfer library. I think it would be a great product to integrate into my [quadcopter flight controller](https://github.com/michaelwro/HummingbirdFCU).

I am using your library to communicate between a Teensy 4.1 and Arduino Nano via [XBee3](https://www.sparkfun.com/products/15130) radios. I am following your `uart_rx_datum.ino` and `uart_tx_datum.ino` examples to sen

[2021-03-08 03:09] PowerBroker2 commented on #58
Thanks for your interest in my library and your project looks really cool.

The one thing that stands out to me as a potential problem is that you're using SoftwareSerial.h at 115200 baud. [SoftwareSerial is slow.](https://forum.arduino.cc/index.php?topic=339644.0) You would probably not have any issues with the sketches if you either used the one hardware serial port on the Nano, used AltSoftware

[2021-03-08 03:11] PowerBroker2 commented on #58
Side note: you don't need to specify the second parameter in `sendDatum()`, you can just do the following:

[code]

[2021-03-08 04:04] michaelwro commented on #58
Thanks for the quick reply!

The reason I am using SoftwareSerial on the Nano is because I designed a small PCB for it and arbitrarily chose those pins for TX/RX. I've run into other issues with the PCB/Nano and am considering redesigning and upgrading to something like a Teensy 3.x (with more _hardware_ serial ports, too). I will investigate using a slower baud rate and see if that solves it.

I'

[2021-03-11 20:35] #58 closed, assigned to PowerBroker2

[2021-03-16 19:58] K-Space909 opened #59 "Confused on how to uncomment SPITransfer.h"
I'm not sure why SPITransfer.h comes commented out, but uncommenting it is causing issues. I have no idea what parts are needed, and some of the variables are undefined. There seems to be a missing semicolon or curly brackets with contents.

If it matters, I'm compiling for a SAMD21 cortex M0+ board (the Seeeduino Xiao). I'll attach a screenshot of the way I've got it commented out at the moment.

[2021-03-16 20:33] PowerBroker2 commented on #59
SPITransfer.h comes commented out because of all the issues it caused ([like this](https://github.com/PowerBroker2/SerialTransfer/issues?q=is%3Aissue+spi)). Basically, the SPI API isn't consistent across all Arduino boards (which I find very, very frustrating), causing compile-time issues for several boards. I tried enabling SPITransfer.h for certain supported boards, but this didn't work out as w

[2021-03-16 20:52] K-Space909 commented on #59
I see it, and now I feel dumb. I think I've got it fixed up now. Thanks for the great support.

I'm not sure if this will work on the M0+, but I suspect it might. I think I just need to find equivalent statements for these lines, which I have confirmed will compile for the Uno but not for my Xiao boards:

    	SPCR |= bit(SPE);

and

    ISR(SPI_STC_vect){...}

Specifically, it looks like I don't

[2021-03-16 21:14] PowerBroker2 commented on #59
Yeah, I had trouble researching the different APIs for SPI for the different boards. I'm going to close this comment for now, but if you do learn how to use SPI for your board, I'd be interested to know and you can comment that here.

[2021-03-16 21:14] #59 closed, assigned to PowerBroker2

[2021-03-16 21:18] K-Space909 commented on #59
Thanks man, I appreciate your help.

[2021-03-20 04:35] bhclowers opened #60 "Extended Array Rx/Tx"
This may not be a bug, but rather a question (I'm not sure how to change the category of this submission).  In short, I'd like to find a way to transfer an array of values from a Teensy 4.1 to python. After investigating the code it looks like the buffer is maxed out to 254 based upon MAX_PACKET_SIZE = 0xFE.

Because I'm ultimately interested in the larger buffers that can be accomodated using the

[2021-03-20 06:48] PowerBroker2 commented on #60
I've never done something like that with Python in the mix, but you might get some inspiration from the following examples. These examples show how to transfer an entire text file (extended char array) between Arduinos:

[TX](https://github.com/PowerBroker2/SerialTransfer/blob/master/examples/uart_tx_file/uart_tx_file.ino)
[RX](https://github.com/PowerBroker2/SerialTransfer/blob/master/examples/ua

[2021-03-20 18:17] bhclowers commented on #60
I see the pattern here but I'm running into a couple of issues.  The first is that if the array to transfer does not divide evenly by the maximum transfer size, how can you know the expected number of bytes to receive?

The other is that I can't seem to get the python size going well.  I keep getting some odd errors.

[code]

This throws an error in python. Clearly, something is off and I'm not su

[2021-03-20 20:32] PowerBroker2 commented on #60
What's the full error (in tags)?

This snippet is what handles the last packet gracefully:

[code]

[2021-03-20 20:37] PowerBroker2 commented on #60
A couple of notes:

1. Why not send data realtime with smaller packets and let Python do the averaging?
2. Use 115200 baud or higher to get data moving faster

[2021-03-21 02:40] pauljeffress opened #61 "Corruption at > 9600 over SoftwareSerial"
Hi there,
I'm another big fan of your library here, but just having an issue with it over Serial, and in particular SoftwareSerial at one end of my link.
I have an [Adafruit FeatherM0](https://www.adafruit.com/product/2772) HW Serial port connected to a [Sparkfun Artemis Global Tracker](https://www.sparkfun.com/products/16469) SoftwareSerial port with SerialTransfer (3.0.8) running over the top. T

[2021-03-21 02:42] pauljeffress commented on #61
Full copy of code on Feather side
[code]

[2021-03-21 02:43] pauljeffress commented on #61
Full copy of code on Artemis side;

[code]

[2021-03-21 02:48] pauljeffress commented on #61
also here is global_vars.h from the Artemis.
I am not using all of this SRNP stuff anymore, so not much of this is used but still hanging around.

[code]

[2021-03-21 04:04] PowerBroker2 commented on #61
SoftwareSerial is notoriously slow and unstable at high bauds, so I don't expect it to work much above 9600 baud anyway. I would suggest using hardware UART ports instead. As far as I can see, the issue is independent of the library (baud changes don't affect how the library operates at all), so I'm closing the issue for now. If you do find a bug, feel free to reopen

[2021-03-21 04:04] #61 closed, assigned to PowerBroker2

[2021-03-29 02:02] PowerBroker2 commented on #60
Been a while - assuming issue is resolved

[2021-03-29 02:02] #60 closed, assigned to PowerBroker2

[2021-04-04 16:33] mjbmikeb2 opened #62 "Does this work from an ATMEGA328 to a SAMD21?"
A struct containing individual bytes transfers OK but a struct containing ints and floats get messed up.
The documentation doesn't mention inter-platform compatibility.

[2021-04-04 20:43] #57 closed, assigned to PowerBroker2

[2021-04-04 23:14] PowerBroker2 commented on #62
The library works across platforms as long as the endianness and type sizes match. The MCUs you mentioned are both little endian, so that isn't a problem. However, the ATMEGA is an 8-bit MCU and the SAMD is 32-bit, meaning, if you say `int` without specifying a byte-size (i.e. `int16_t`), you will have parsing issues. My guess is you are using `int`, but using `int16_t` will solve your issue.

[2021-04-05 05:14] mjbmikeb2 commented on #62
Turned out to be a padding issue. Adding
__attribute__((packed))
to the struct definition on the 32 bit end made it compatible with the serialised format of the 8 bit struct which doesn't do padding.
Depending on the layout of the struct, the padding on 32 bit platform can significantly increases the serialised size.
You might want to mention this in the documentation or examples.

[2021-04-05 09:21] #62 closed, assigned to PowerBroker2

[2021-04-19 03:30] emmanuelsheshi opened #63 "library makes i2c lcd flash"
good day sir, thanks so much for the library. but i noticed that it makes my i2c lcd flash. what can i do to resolve this? thanks in advance...

[2021-04-20 00:36] PowerBroker2 commented on #63
I've used this library with one of my own I2C LCD displays and haven't had this problem. The issue is almost certainly with another part of your sketch. If you have reason to believe otherwise, please let me know.

[2021-04-20 00:36] #63 closed, assigned to PowerBroker2

[2021-06-09 15:07] Bezalelohim opened #66 "How can I pause serial transfer and then un-pause it ?"
So I am running a usb (UART) connection from my arduino(using the serialtransfer.h  library) to my pc (using the pyserial transfer library).
This how each cycle of code goes:
I receive the list_ packet and save it to a list on the Arduino . Then the elements in the list are checked and used to control parameters of motor a using GPIO pins. Finally a return message is sent to acknowledge each trans

[2021-06-09 20:34] PowerBroker2 commented on #66
That sounds like the delays aren't being called, which seems more like a sketch issue. Try using debug prints via a second serial port (plus UART to USB converter) and see what exactly is going on.

Also note that you can use `sendDatum()` to replace `txObj()` and `sendData()` if and only if you're transferring a single object in a single packet.

[2021-06-10 07:43] Bezalelohim commented on #66
I am using an Arduino Uno and it doesn't have 2 serial ports. So while transferring via usb cable I can't use serial to print.
For delays not working

Its very wired that delays doesn't work as it baked into Arduino IC. To recap ***My only problem is this : delaying the***

[code]

***enough so that the program is run sequentially*** instead it runs as "if its on separate thread" and non sequentia

[2021-06-10 09:28] PowerBroker2 commented on #66
That's not true, you can use softwareserial.h or another software uart library to communicate with a uart to usb converter.

If the `sendData()` calls are not being delayed, then it is most likely because your sketch is not calling `delay()` due to a bug somewhere in the sketch or Python.

[2021-06-10 16:34] Bezalelohim commented on #66
You were right the if statement wasn't being executed, there seems to an issue with Arduino processing the received list.
I am sending a list A=[1,2,3,4,5,6,7,8,9] from my pc using python  to the Arduino so then in Arduino code the if statement  A[5] > A[4] is always true for the list a , but this doesn't seem to be the case.
Also A[4] == 5 returns as false.

Thank You for all the help so far :)

[2021-06-10 17:44] telemarketer commented on #66
I think you need a usb to ttl converter for that, it would very helpful for debugging but the current corona situation in my country doesn't allow for non-necessity goods to restocked or delivered online.

[2021-06-10 17:46] Bezalelohim commented on #66
I think you need a usb to ttl converter for that, it would very helpful for debugging but the current corona situation in my country doesn't allow for non-necessity goods to restocked or delivered online.

[2021-06-10 19:50] PowerBroker2 commented on #66
The reason you might be having issues is that Python normally defaults to ints being 32 bits wide while Arduino Uno ints are 16 bits wide.

[2021-06-11 07:54] telemarketer commented on #66
Changing the array to int16 using numpy breaks the listsize as it return None, because numpy.int16 arrays as classified as <class 'numpy.ndarray'> when using type() in python.

[2021-06-11 12:36] Bezalelohim commented on #66
Yes It is working Now!!!  Changing the initialization ***int obj_cord[9]*** to ***int32_t obj_cord[9]*** in the arduino code fixed it. Now all statements are working fine Thankyou 👍

[2021-06-11 14:59] #66 closed, assigned to PowerBroker2

[2021-06-16 06:39] hpssjellis opened #67 "Feature Request: Can this work for the Portenta"
I have read that the library does not support the Nano33Ble, is that an MBED thing? Could the library possibly support the [Portenta](https://store.arduino.cc/usa/portenta-h7) ?

If not do you have any suggestions for parsing variables between Portenta's using UART?

Note: txData and rxData both compile version 2.10 MBED core on the Nano33Ble and the Portenta. Tomorrow I will check if they actuall

[2021-06-16 08:21] PowerBroker2 commented on #67
That was only for the SPI part of the lib, which is currently disabled. The UART portions of the lib should be supported for all Arduinos AFAIK.

[2021-06-16 17:23] hpssjellis commented on #67
Thanks for the reply @PowerBroker2 I am actually trying to get the 2 cores of the Portenta talking faster than the Normal Arduino RPC method for transferring variables. your tx rx datum examples look perfect. (I connect tx and rx pins together), but I get this in the serial monitor.
[code]
 Any suggestions? Other than, lots of the MBED Portenta code doesn't work yet.

Here is the arduino forum top

[2021-06-16 20:26] PowerBroker2 commented on #67
`PAYLOAD_ERROR` happens when the received packet payload length value is not between 1 and 254 (inclusive). Here's where it happens in the code:

https://github.com/PowerBroker2/SerialTransfer/blob/3367a6f2056ef2496906ff4bcb2c93f43720fd49/src/Packet.cpp#L165-L185

Can you post your TX and RX sketches plus a complete debug printout (including timestamps) on the RX side?

[2021-06-16 21:21] hpssjellis commented on #67
Thank you @PowerBroker2 for looking at this. The Portenta software has been a long haul. I will put this example on my library of [Portenta examples](https://github.com/hpssjellis/portenta-pro-community-solutions) if it can eventually work.

Not really sure how to make debug print to the Serial monitor, but here is my output and timestamps: I used a 3 second delay for Tx

[code]

The M7 core boots

[2021-06-16 21:49] PowerBroker2 commented on #67
To simplify things, don't setup or use SerialTransfer callbacks. Instead, reference the examples here: [TX](https://github.com/PowerBroker2/SerialTransfer/blob/master/examples/uart_tx_data/uart_tx_data.ino) and [RX](https://github.com/PowerBroker2/SerialTransfer/blob/master/examples/uart_rx_data/uart_rx_data.ino).

I'm assuming you're testing serial connection between the two cores via the same UA

[2021-06-16 21:59] hpssjellis commented on #67
Good idea about trying 2 Arduino with Serial1. I will get back to you.

[2021-06-16 22:17] hpssjellis commented on #67
Works between 2 Portenta's

15:17:06.279 -> $4.50 | hello
15:17:06.773 -> $4.50 | hello
15:17:07.267 -> $4.50 | hello
15:17:07.761 -> $4.50 | hello
15:17:08.300 -> $4.50 | hello

I will try the inner core again.

[2021-06-16 22:26] hpssjellis commented on #67
Note: I have done lots of Serial1 communication between the 2 cores, so that should not be the issue.

Note I have also connected Pin 13 RX and 14 TX  like I have done before.

Using the M4 to M7 cores and the data examples.
With a delay of 5 seconds

[code]

here is this code:

[code]

[2021-06-16 22:28] PowerBroker2 commented on #67
Remove the following:

[code]

and replace it simply with:

[code]

[2021-06-16 22:29] PowerBroker2 commented on #67
You might also have to go into `Packet.cpp` and start adding extra Serial debug statements to see what is going on and where it's failing.

[2021-06-16 22:33] hpssjellis commented on #67
I will, The Portenta has been a headache, so I would assume no issue with your code. Interesting printout now.

[code]

[code]

[2021-06-16 23:33] PowerBroker2 commented on #67
Stale packets occur when a given packet isn't fully received within the `timeout` period. For instance, if I begin to receive bytes of a valid packet, but half way the data stream dries up and no bytes are received for 2 seconds (randomly chosen time period to make the point), we can safely assume the rest of the packet was lost due to dropped/disconnected signal.

See here:

https://github.com/Po

[2021-06-16 23:36] PowerBroker2 commented on #67
In the `available()` member function within `SerialTransfer.cpp`, add debug statements showing the exact byte value for all bytes received. Add more debug statements in the `sendData()` function that shows the exact byte value for all bytes sent. Thie complete set of debug statements will tell you if the data is being corrupted.

[2021-06-17 06:44] hpssjellis commented on #67
So the plot thickens. I can send serialTransfer between 2 different boards both running on the M4 core.

I can send from one M4 core to another board M7 core. So all is looking good there. Still testing one board sending from M4 to M7. Thanks for your suggestions.

[2021-06-17 17:00] hpssjellis commented on #67
Just found out that the Portenta Serial1 does not do 115200 only 9600. Not sure if that is relevant.

[2021-06-18 01:35] PowerBroker2 commented on #67
Yes, that is very relevant - change the Serial1 config to 9600 and things should work a lot better if what you say is true

[2021-06-19 06:05] hpssjellis commented on #67
@PowerBroker2 sort of solved the issue. On the Portenta it has 4 UART ports, shared by both cores. If I use different ports, UART0 and URT1 using the [Breakout Board](https://store.arduino.cc/usa/portenta-breakout), then SerialTransfer works great and very fast. Here is my working code, using A1 for an analog reading and connecting UART0 TX to UART1 RX.

[code]

Doesn't really solve the problem be

[2021-06-19 06:07] #67 closed, assigned to PowerBroker2

[2021-07-09 23:37] AlexanderPeters opened #68 "Library Compiling Issue"
I can't seem to get this library to compile. I've written up one of the simplest examples I could think of.

I keep getting this error message. 'class SerialTransfer' has no member named 'txBuff'

Are txbuff and rxBuff deprecated because it looks like they are defined on lines 53 and 54 of Packet.h so I don't understand what the issue is.

Please see the attached example and let me know if there's

[2021-07-10 04:35] PowerBroker2 commented on #68
The problem is you're using an outdated example. Check out the updated examples [here](https://github.com/PowerBroker2/SerialTransfer/tree/master/examples). `rxBuff` and `txBuff` are now members of the `Packet` class, so the code should say `myTransfer.Packet.rxBuff[i]`.

[2021-07-10 05:54] AlexanderPeters commented on #68
Thanks, I should've picked up on that. I'll try it tomorrow to make sure that works. I desperately need to brush up on my C/C++ syntax.

[2021-07-10 10:36] DustinWatts opened #69 "How to determine if a file is completely send?"
Hi!

Thanks for this great library! I have a question regarding UART though. On the TX side I am opening a file and sending it using this crude bit of code (ESP32) based on the uart_tx_file example:

[code]

Now on the RX side I am receiving all the data. But I want to also put that back in a file. How would I do that? How would I know if the end of the file is reached?

This is my code atm on the

[2021-07-10 14:19] PowerBroker2 commented on #69
After sending `fileName`, you could send a packet with an ID of 2 (or any other unique ID) and send the `numPackets` value. This means that whenever the `fileIndex` (first two payload bytes) is equal to the originally sent `numPackets` value, you know you're processing the last packet of the file

[2021-07-10 22:53] AlexanderPeters commented on #68
Got it working. It should be noted that the fix required "packet" to start with a lower case. That way the Packet class object "packet" is referenced and not the Packet class itself.

The corrected line which fixed the compiling issue:
 myTransfer.packet.txBuff[i] = myTransfer.packet.rxBuff[i];

Attached is the corrected project file.

Thanks for the help.
[example_fixed.zip](https://github.com/Po

[2021-07-10 22:53] #68 closed, assigned to PowerBroker2

[2021-07-10 23:29] PowerBroker2 commented on #68
Oops, sorry about that! Glad you got it working

[2021-07-14 15:58] Laggger164 opened #70 "Send picture from one ESP32CAM to another using SPI"
**TL;DR: All I want is to send the camera's frame buffer to another ESP32CAM. That's it. No streaming, just one photo every few minutes or so.**

If you think my approach could be different please tell me, I will gladly consider other options!

I am having a hard time figuring out how to do this, documentation is scarce presumably because most people don't use SPI. (I2C is way too convenient)
Howe

[2021-07-15 01:30] PowerBroker2 commented on #70
The original forum thread linked was about transmitting pictures via UART, not I2C. Also note the code in that post uses a slightly outdated API compared to the latest version.

The easiest thing to do would probably start with the [spi_tx_file.ino](https://github.com/PowerBroker2/SerialTransfer/blob/master/examples/spi_tx_file/spi_tx_file.ino) and [spi_rx_file.ino](https://github.com/PowerBroker2

[2021-07-15 09:09] Laggger164 commented on #70
Thank you, I will try just the examples. I was taken aback by the complexity of the code in the thread I linked so I thought the examples were missing a lot.
I believe the user needed to make and send the packets individually. We are talking about kB of data after all.

[2021-07-15 12:03] pauljeffress opened #71 "Keen to understand the reasoning around default 50mS timeout"
Hi there,

In Packet.h there is the following line

`const uint8_t DEFAULT_TIMEOUT = 50;`

I went looking as I was seeing the STALE PACKET error message when running my project.
I am using serialTransfer between an Adafruit Feather m4 express and a Sparkfun Artemis board.
My code is based on the examples that tx and rx a Datum over serial.
It was working fine when I was transferring back and forth

[2021-07-15 13:30] Laggger164 commented on #70
OK, looking at the example I devised something like this.
Right now there is a button at pin 4, which will pull the analog reading lower when pressed. A little problematic because there is the flash circuit on there, might figure out a better solution later.
Pushing the button executes the script that will take a picture, store it in the frame buffer with the function esp_camera_fb_get(), get its

[2021-07-17 23:29] #69 closed, assigned to PowerBroker2

[2021-07-17 23:38] PowerBroker2 commented on #70
“fb” is a pointer to a struct of type camera_fb_t. The source code for this struct can be found [in this header](https://github.com/espressif/esp32-camera/blob/4af111a5e274a2973fa10cd3c1ec69174a1bdb93/driver/include/esp_camera.h):

[code]

As you can see, you can call `fb->len` to determine the length of the total number of pixels in `fb->buf` instead of `sizeof()`. `sizeof()` will give you an inc

[2021-07-18 00:06] PowerBroker2 commented on #71
There shouldn't be an issue with cranking the timeout to as high as you want. Timeouts and other errors can occur from datastream corruption or dropped bytes, which in turn can be caused by EMI, total loss of connection, or from buffer input overflow on the receiver side (not reading data faster than it arrives).

[2021-07-18 02:26] pauljeffress commented on #71
Cool, thanks.

[2021-07-18 03:32] #71 closed, assigned to PowerBroker2

[2021-07-20 10:10] Laggger164 commented on #70
Thank you for the clarification, I had the feeling something like this was in it.

I replaced sizeof() with fb->len as " fileSize = fb->len; "

There is a slight possibility that the code will work now.
I still need help with the sender and receiver code as I am not sure if there is already a function for it.

In the sender example [spi_tx_file.ino](https://github.com/PowerBroker2/SerialTransfer/b

[2021-07-20 19:09] PowerBroker2 commented on #70
In this case, your filesize will be `fb->len` number of bytes.

I'm not sure what you mean by that, but you do need to change

[code]

to

[code]

Yes, you could do something similar much like how the example sends the filename before the for loop. Be sure to use a unique packet ID so that the receiver knows that packet carries file size information and not filename or file data.

[2021-07-20 20:46] Laggger164 commented on #70
Right, thank you for the heads up, I definitely would have missed it.

Awesome! I am going to send it as the first packet (number 0), this will also serve as a sort of confirmation that there is indeed a connection.

What about the file integrity? Its a lot of data, it might get corrupted at some point even though the connection is only around 15cm long. How could I deal with that?

[2021-07-20 21:42] PowerBroker2 commented on #70
That's a really good question. The reason two bytes (a `uint16_t`) integer is reserved in each file data packet is to denote the `fileindex`. The receiver can use this `fileindex` value to see if any index is skipped (and hence corrupted). You could either pad the missing data with some value or devise a scheme that requests the missing data from the transmitter after the original file transmissio

[2021-07-21 09:53] Laggger164 commented on #70
Good to know! I will consider trying it once I get this up and running at all.

Modified to receive the fileSize instead of fileName, right now the fileName is set as a constant, later I will make a naming system.

Not sure if I have the right idea about storing the file data (array indexing in particular), how could I store the data in an array?

[code]
Current receiver code:

[code]

The example

[2021-07-21 23:39] AlexanderPeters opened #72 "Using the ESP32-cam and sending images taken on it to something else."
This seems to be a fairly common project. (Either sending the image to another Arduino, a Raspberry Pi, or a PC) via one of the communication methods this library allows. Since the ESP32-cam is just so useful for how cheap it is. It looks like everybody (including myself) has been referencing the same old forum post with some confusion. And thus it seems like a good idea to have some example on ho

[2021-07-22 00:24] PowerBroker2 commented on #72
Yeah, the API changed a little and the final code could probably use some improvements, so I definitely will document improved code for this type of application as soon as someone (perhaps yourself?) can provide a working example. I don't own an ESP32-CAM to test with.

[2021-07-22 00:45] PowerBroker2 commented on #70
That would almost work. You need to keep track of the `fileIndex` to know where the data in the current packet actually corresponds to in the file (since you're sending the data piecemeal)

Here's a way to do it:

[code]

For more info on `rxObj()` see:

https://github.com/PowerBroker2/SerialTransfer/blob/3367a6f2056ef2496906ff4bcb2c93f43720fd49/src/Packet.h#L112-L151

I think it's looking really

[2021-08-03 13:13] Laggger164 commented on #70
I am currently adding the Ethernet and FTP functionality to the receiver code, however there are a few problems when compiling.

The "ESP32_FTPClient.h" has been modified to work with Ethernet.h and EthernetClient.h instead of WiFi.h and WiFiClient.h respectively. You can find it [here](https://pastebin.com/u/Laggger164/1/Wk6Gkp8m)

Something is up with the ISR, SPCR, SPI.AttatchInterrupt and othe

[2021-08-04 19:05] umaplehurst opened #73 "payIndex not reset back to zero by the FSM"
Consider a situation where a timeout occurs while in the `find_payload` state. The timeout handler will reset the FSM back to the `find_start_byte` state, no problems. However, `payIndex` is not reset back to zero by anything in the code (with the exception of when `payIndex == bytesToRec`). This means that RX is broken until enough further data arrives to cause `payIndex` to spill over and things

[2021-08-06 17:38] PowerBroker2 commented on #73
Thank you, this is a really good catch. You're right, `payIndex` isn't being reset in all cases. If I understand you right, the proposed fix is to put `payIndex = 0` as the first line in `case find_payload_len:`? I think that will fix it.

[2021-08-06 17:45] umaplehurst commented on #73
That would be fine; on my side, I just put `payIndex = 0` immediately before `state = find_payload` but what you propose would work just as well (payIndex only matters in the `find_payload` state so we only need to reset it on entry into the state). And thank you for all of your efforts in maintaining this great library!

[2021-08-06 18:07] PowerBroker2 commented on #73
Awesome, I'll fix it asap. I'm glad you find the library(s) useful and always appreciate maintenance help/bug reports from the open source community!

[2021-08-06 18:15] PowerBroker2 commented on #73
Fixed in [3.1.2](https://github.com/PowerBroker2/SerialTransfer/releases/tag/3.1.2)

[2021-08-06 18:15] #73 closed, assigned to PowerBroker2

[2021-09-10 16:39] YBeyin opened #74 "How i can use SerialTransfer with rs485 ?"
Hello everyone. I am trying to communicate 2 arduinos with rs485 (because of some long distance) how i can use SerialTransfer with rs485? I have read all examples, but can not find the solution. in uart , having an error  as "'Serial1' was not declared in this scope" . So is it not possible use SerialTransfer with rs485? I want to transfer struct.

Target i want to hit : taking float values from a

[2021-09-10 19:47] PowerBroker2 commented on #74
SerialTransfer is compatible with RS485. The error you describe is not due to the RS485, but due to your Arduino not having a supported UART port other than USB. I'm guessing you're compiling for an Uno? Either way, SerialTransfer is also compatible with software serial libraries such as SoftwareSerial.h. Use one of those libraries to setup a software serial port to connect to RS485 and then pass

[2021-09-10 20:58] YBeyin commented on #74
i am using two arduino nano.one is for slave, other one is for master. i just plugged my rs485 as i described at first message. i did figure out nano does not support serial1, but still can not figure out how to do it. I have searched for examples but had nothing. rx for receiver isn't it?

[2021-09-10 21:09] PowerBroker2 commented on #74
Something like this should work:

[code]

[2021-09-10 21:12] YBeyin commented on #74
This is for slave (struck sender) right?

[2021-09-10 21:17] PowerBroker2 commented on #74
That's for receiving, but the initial setup is the same for the transmitting arduino

[2021-09-10 21:18] YBeyin commented on #74
Okay thanks alot @PowerBroker2 i will try it. I hope so i can handle this. Your library is great. And i am so new at arduino.

[2021-09-11 08:41] YBeyin commented on #74
@PowerBroker2 forgive me but that did not work. I have been updated the main question with all details and codes. Still need some help.

[2021-09-11 14:00] PowerBroker2 commented on #74
I need more context - what exactly is going wrong? Did you test the physical signal with a multimeter? Do you get a compiler error? How much % memory does the sketches use up? etc.

Also, I notice your rx sketch doesn't drive the RS485 direction pin low to receive.

[2021-09-11 16:15] YBeyin commented on #74
i am not having any compile error. even when i code the write the myTransfer.status on the screen that shows the value of status is 1.  %60 arround memory does the sketches uses.
with these codes i can send data to master and that is works but i want to send data as struct. thats why i am asking your help.

here the codes that works with this connection:

Codes for slave :
[code]

And the codes fo

[2021-09-11 17:34] PowerBroker2 commented on #74
Here's some example code for RS485 that I've used with SerialTransfer:

https://github.com/PowerBroker2/RND_Flight_Code/blob/26ac84d0507d0c558e5866226c323ce6e4ebb9b5/src/operational/Arduino/Ground_Station/RS485.h

Note that I'm using one port for TX and one for RX, but in both cases I drive the enable pin either high or low.

As for your code, I think I see the problem: You wired up the RS485 tran

[2021-09-11 17:57] PowerBroker2 commented on #72
No response, I assume you got it working

[2021-09-11 17:57] #72 closed, assigned to PowerBroker2

[2021-09-11 18:17] YBeyin commented on #74
Thank you so much. You saved my whole project and my mental healt 👯 Thats works now. I am so new at arduino world. But loving this oop coding. Great library with so much potential.

[2021-09-11 18:17] #74 closed, assigned to PowerBroker2

[2021-09-24 12:43] YBeyin commented on #69
is it possible to determine from tx side? i want to check if struct received by rx.

[2021-09-24 16:55] PowerBroker2 commented on #69
I'm not sure I understand. Determine what from the tx side? You could probably write the code so that after every packet sent by the TX side, it would wait some amount of time for an "ack" packet from the RX side and resend if the "ack" packet wasn't received by the TX side. Is that what you were asking?

[2021-09-24 17:14] YBeyin commented on #69
yes this is what i am asking. do you have any example for this?

[2021-09-24 17:19] PowerBroker2 commented on #69
Sorry, I don't

[2021-09-24 17:49] DustinWatts commented on #69
@PowerBroker2 I realized I never responded to this after your comment. I did something similar you suggested, and got something that works for me :)

Btw, @YBeyin You could, after sending the last packet, send a hash of the data you were sending and then on the RX side hash it, send it back an on the TX side compare those hashes.

[2021-09-24 18:08] YBeyin commented on #69
some little example would be so great to understand how it does work. im pretty new at arduino :S thanks for advice btw.

[2021-11-03 19:27] cyourch opened #75 "SerialTransfer.available() always 0, status is CONTINUE"
**Describe the bug**
SerialTransfer.available() is always returning 0 and when I check the status its CONTINUE.
I am able to get a packet to be received (via rxObj) by transmitting packets, fast, from the Windows host.

Essentially calling this code 2 times a second:
     uint16_t sendSize = m_comPortTransfer.txObj(msg, 0, sizeof(msg));
      m_comPortTransfer.sendData(sendSize);

BTW, I ported Se

[2021-11-03 20:10] PowerBroker2 commented on #75
Can you post your entire transmit code and arduino code? Thanks!

[2021-11-03 20:41] cyourch commented on #75
Windows:
[code]

Arduino:
[code]

[2021-11-03 20:46] cyourch commented on #75
Here's the COM port mode I write to read/write to/from a Windows COM port.

ComPortMgr.h contains the definition for the Stream class that I pass to the begin() method.

[ComPortMgr.cpp.txt](https://github.com/PowerBroker2/SerialTransfer/files/7470575/ComPortMgr.cpp.txt)

[ComPortMgr.h.txt](https://github.com/PowerBroker2/SerialTransfer/files/7470576/ComPortMgr.h.txt)

[2021-11-03 22:37] PowerBroker2 commented on #75
What's the entire windows code?

[2021-11-03 22:40] PowerBroker2 commented on #75
Oh wait a second, don't print if the status is `CONTINUE`, that is one state the parser will be in a lot of the time, especially if you're sending a lot data constantly (i.e. streaming data). In the latest version of the library, you can get around these manual prints by setting the debug flag to true in the `begin()` method. See here:

https://github.com/PowerBroker2/SerialTransfer/blob/932c426dc

[2021-11-03 23:10] cyourch commented on #75
I switch from

[2021-11-03 23:11] cyourch commented on #75
I switched from
  m_comPortTransfer.begin(Serial);

To:
  m_comPortTransfer.begin(Serial, false);

And I still get the same behavior.

[2021-11-03 23:18] cyourch commented on #75
Here's the modules I ported to Windows:

[PacketCRC.h.txt](https://github.com/PowerBroker2/SerialTransfer/files/7471251/PacketCRC.h.txt)
[SerialTransfer.cpp.txt](https://github.com/PowerBroker2/SerialTransfer/files/7471252/SerialTransfer.cpp.txt)
[SerialTransfer.h.txt](https://github.com/PowerBroker2/SerialTransfer/files/7471253/SerialTransfer.h.txt)
[Packet.cpp.txt](https://github.com/PowerBroker

[2021-11-03 23:59] PowerBroker2 commented on #75
The behavior should definitely change since `CONTINUE` should not be printed to the serial monitor. I'm having a really hard time wrapping my head around your setup. What exactly are you trying to accomplish between the two incomplete programs posted in this issue? What are you expecting, what have you debugged, what exactly is going wrong?

Also, why not use Python instead of a windows C++ progra

[2021-11-04 17:42] cyourch commented on #75
I have 2 apps... a Windows Hosts app and the Arduino app. I am printing "CONTINUE" on the Windows Host, not on the Arduino. I am able to transmit from the Arduino to Windows but not the other way... which is the issue I'm having.

I am expecting that I can read packets on the Arduino that are sent from Windows.

BTW, I can read and write if I use the serial port directly so it seems that something

[2021-11-04 17:43] cyourch commented on #75
[code]

[2021-11-04 17:43] cyourch commented on #75
This sends the CONTINUE string to my Windows app.

[code]

[2021-11-04 17:51] cyourch commented on #75
The behavior I'm seeing is as if the packet delimiter(s) are missing or not found and the start of a packet, when sent from Windows to the Arduino, is lost.

[2021-11-04 18:57] PowerBroker2 commented on #75
I've been using the latest version of the library for communication in several of my personal projects and haven't had any issues. I suspect the issue is with your ported parsing algorithm, not the original Arduino library. Unless you can prove the original library is at fault, I can't help. However, I am more than happy to bug fix the library if you can prove the bug exists.

[2021-11-04 19:47] cyourch commented on #75
Here's the trace output when I send from Windows to the Arduino direct over the Serial port, no SerialTransfer calls.

Windows SEND:

  MSG_DL_STATUS_REQUEST(4): dst=10, src=150, 01 bytes, DataLogger #1
  write_bytes(): 4 bytes of data to 'COM6'.
  write_bytes(): 5 bytes of data to 'COM6'.
  write_bytes(): 2 bytes of data to 'COM6'.

Arduino RECEIVE on COM6:

1st loop() call to Serial.available()

[2021-11-04 19:48] cyourch commented on #75
You can see that the entire packet is transmitted from Windows and that the Serial object is reading in the entire packet.

[2021-11-04 19:50] cyourch commented on #75
When I replace this:
    while (Serial.available())
    {
        uint8_t b = Serial.read();
    }

With a call to the SerialTranbsfer library:
    if (m_comPortTransfer.available())
    {
        MSG msg;

        uint16_t recSize = m_comPortTransfer.rxObj(msg, 0, sizeof(msg));
    }

It stops working and m_comPortTransfer.status == CONTINUE

[2021-11-04 20:21] cyourch commented on #75
Here's the fix!    When bytes are transmitted from Windows they are sent out in 3 separate calls to port->write(). When I grouped them together the transfer worked.

uint8_t SerialTransfer::sendData(const uint16_t& messageLen, const uint8_t packetID)
{
	uint8_t numBytesIncl;

	numBytesIncl = packet.constructPacket(messageLen, packetID);

#if ORIGINAL_WAY
	port->write(packet.preamble, sizeof(packet

[2021-11-04 20:24] cyourch commented on #75
From the code in available() in SerialTransfer it seems like the packet parsing state is lost between calls. The change I made above causes all the code to be read in one shot and then it works.

[2021-11-05 12:49] dbids opened #76 "Code works on Nano BLE 33 but not on Mega 2560r3."
**Describe the bug**
I was testing sample code on an Arduino Nano BLE33, where I got it to work fine.  After switching to the board I intend to use for this project, an Arduino Mega 2560 R3, I began seeing start bit errors in my python script receiving a string response back from the Arduino.  During debugging I played around with the delay a bit on both ends, and also encountered stop bit errors.

[2021-11-05 17:21] PowerBroker2 commented on #76
Decode errors are usually because Python is expecting a different number of bytes than the packet has. When this happens, it's because your `rxObj()` calls are formulated incorrectly. Check the byte length of each packet field in your Arduino sketch and verify your python script is expecting that exact number of bytes per field. `rxObj()` is a powerful function, but only if used properly.

If you

[2021-11-05 17:28] PowerBroker2 commented on #76
Actually, since your code errors after changing MCUs, I know for a fact your `rxObj()` calls in Python are incorrect. If you use variable types without specifying bit lengths in your Arduino code (i.e. `int` vs `int16_t`), your compiler will assign different lengths for the same variable on different target processors. Since the Nano BLE 33 has a 32 bit processor, `int` will default to `int32_t` w

[2021-11-05 17:28] #76 closed, assigned to PowerBroker2

[2021-11-18 15:06] ajacobs-github opened #77 "Does SerialTransfer use the UART DMA on ESP32?"

[2021-11-18 16:07] PowerBroker2 commented on #77
I'm not familiar with DMA on the ESP32, but it probably is compatible. The SerialTransfer library is built off of the Stream class in the Arduino API, so if you can send data to/from DMA via UART, you should be able to do it with SerialTransfer.

The easiest way to make sure it give it a test!

[2021-11-20 21:53] #77 closed, assigned to PowerBroker2

[2021-11-30 03:06] CrypticP opened #78 "Question: How do I implement this library with your ELMDuino library?"
I am new to coding so I am having some trouble implementing this library with some code using your ELMDuino library. I just need the output of RPM to transfer to my Arduino Uno to be used further.

Here is my code now :

[code]

Thankyou so much for your help! I need this for my scholarship program and with limited online resources I am hoping you could give me a helping hand.

[2021-11-30 20:30] PowerBroker2 commented on #78
I have an ESP32/Teensy 3.5 based car head's up display project with the source code [here](https://github.com/PowerBroker2/ArduHUD/tree/master/src). [The ESP32 sketch](https://github.com/PowerBroker2/ArduHUD/blob/master/src/ESP32_HUD/ESP32_HUD.ino) sends the RPM and MPH data to the Teensy 3.5 via SerialTransfer.h. Obviously, you'll need to change the [receiver sketch](https://github.com/PowerBroke

[2021-12-01 18:50] CrypticP commented on #78
Awesome. Today I will give it all a try with that new code. For the ESP code I just need to change the connection to the ELM to be through a MAC address (simply because that's what has worked for me so far) and the teensy code from serial1 to serial.

[2021-12-01 23:01] CrypticP commented on #78
@PowerBroker2 I attempted to implement this into my ESP sketch.

#include "BluetoothSerial.h"
#include "SerialTransfer.h"
#include "ELMduino.h"

BluetoothSerial SerialBT;
#define DEBUG_PORT      Serial
#define LED_DRIVER_PORT Serial2
#define ELM_PORT        SerialBT

//String MACadd = "DC:0D:30:48:8D:60";                         //enter the ELM327 MAC address
uint8_t address[6]  = {0x00, 0x1D, 0xA

[2021-12-03 06:37] CrypticP commented on #78
I will take help from anyone on this. also thanks again for @PowerBroker2 for creating such a proactive library

[2021-12-05 02:44] CrypticP commented on #78
@PowerBroker2 I need your massive brain 😅😅😅

[2021-12-05 06:06] PowerBroker2 commented on #78
What exactly do you need help understanding? Did you try and look at the source code, documentation, and examples?

[2021-12-05 09:32] CrypticP commented on #78
Genuinely, I have looked through examples, projects, and videos and cannot seem to understand why I can not connect the dots here. I have implemented your library into the code for the ESP32, but the code you sent from your HUD project was filled with so much I couldn't find/understand what code to use for the Arduino Uno to be able to receive values that the ESP32 is getting from my ELM327.

[2021-12-05 09:35] CrypticP commented on #78
I know the code is sitting right in front of my eyes which makes me look very ignorant and silly for commenting so much but it's for a passion project that I have been working on for a longtime; I just need the ESP32 to send real-time RPM values to the Arduino Uno through the serial monitor. Thankyou so much for commenting and helping me wrap my head around it.

[2021-12-06 01:50] PowerBroker2 commented on #78
Here's what the Uno side should look like, but you will need to wire everything up properly and make sure the ESP32 is only sending one uint32_t value for RPM (my HUD project sends both RPM and speed):

[code]

[2021-12-06 01:50] #78 closed, assigned to PowerBroker2

[2021-12-07 03:07] Doomcaliber12 commented on #78
Hey @PowerBroker2 @CrypticP , i'm trying to replicate this project and also tested out your code but I ran into one issue. I tried to do the exact same thing but when I tried to adjust CripticP's code to make the esp send one uint32_t value for RPM, I ran into this error:

Arduino: 1.8.16 (Windows 10), Board: "ESP32 Dev Module, Disabled, Default 4MB with spiffs (1.2MB APP/1.5MB SPIFFS), 240MHz (Wi

[2021-12-07 03:41] PowerBroker2 commented on #78
That line of code is outside the scope of `loop()`. Perhaps you're missing a curly brace?

[2021-12-09 04:31] CrypticP commented on #78
yep @Doomcaliber12 that's definitely not in the loop. sadly it might not work either way. this is the error i just got using my code ![image](https://user-images.githubusercontent.com/34612463/145334762-f0be0af6-314c-440c-b55c-cee5a05d9ebb.jpeg)

[2021-12-09 04:32] CrypticP commented on #78
my ELM was indicating a connection between my ESP through the LED's, but that error came out which is super weird because it's not in my code. @PowerBroker2 are those errors apart of the library ?

[2021-12-15 14:51] Neu59 opened #79 "Variable"
Hello friends thanks for this great tool.

I am using this code from the example.

[code]
My level of programming is very basic. I am trying to extract the variable float to use it in other functions of my code and I don't know how to do it.
Can you help me, thank you.

[2021-12-15 15:35] PowerBroker2 commented on #79
For questions like this, please use the [Arduino Forum](https://forum.arduino.cc/)

[2021-12-15 15:35] #79 closed, assigned to nobody

[2021-12-15 18:25] Neu59 commented on #79
Thanks friend, sorry if it was an inappropriate question

[2021-12-15 20:53] PowerBroker2 commented on #79
No worries, good luck!

[2021-12-15 22:58] Neu59 commented on #79
I got it very simple

if(myTransfer.available())
  {
    myTransfer.rxObj(testStruct);
    Serial.print(testStruct.z);
    Serial.println(testStruct.y);
    variable=(testStruct.y);
  }
 float variable;    :+1:

[2022-01-04 16:44] MaffooClock opened #80 "Transmitter using `.sendDatum(char[])`, receiver getting garbage"
**Describe the bug**
I'm not certain that there's a bug in this library, but I thought I'd share this just in case.  At the very least, maybe someone will spot something else wrong.

My implementation is intended to facilitate the transfer of very short plain text strings, but also ArduinoJson data, which is serialized into plain text when transmitted and deserialized when received.

Previously, I

[2022-01-04 18:52] PowerBroker2 commented on #80
If you take a look at the `sendDatum()` function, you can see that the library assumes the length of the datum to be sent via `sizeof()` unless the user specifies a custom size:

https://github.com/PowerBroker2/SerialTransfer/blob/932c426dc134cd6cdf428108b2a2d4a819acae65/src/SerialTransfer.h#L75-L96

The reason I bring this up is because if you pass a char array pointer to `sendDatum()` with no se

[2022-01-04 18:59] MaffooClock commented on #80
Thank you for the reply.

I have looked through the library source, and it looked to me that the second argument for `sendDatum()` had a default of `sizeof(T)`, so I assumed I didn't need it (but there's a mistake in my logic, I just noticed!).

On further thought, if I had a `char[8]` and only send four characters, `sizeof()` would give the wrong length, so your suggestion of `strlen() + 1` would

[2022-01-04 19:02] PowerBroker2 commented on #80
Nah, it's a gotcha that is hard to catch and my documentation honestly isn't the best. Plus, I don't usually expect people to read the source comments so I figured I'd point it out. Btw, it looks like a cool project - what does it do?

[2022-01-04 19:29] MaffooClock commented on #80
It's a device that monitors power from a particular type of equipment.

The Teensy is responsible for managing a Cat M1/NB modem and a connection to AWS MQTT service.

The RP2040 has two cores (so a `setup()` + `setup1()` and `loop()` + `loop1()`, which is damn handy!), with one loop responsible for reading the voltage and current sensors and constantly calculating volts, amps, real power (W), app

[2022-01-04 20:57] PowerBroker2 commented on #80
Super impressive work!

The Serial and I2C portions of the lib are very stable, but the SPI portion isn't as stable. This is because core developers for certain Arduino boards refuse to keep the SPI API the same - making it impossible to guarantee the lib will work for all Arduinos.

[2022-01-04 21:08] MaffooClock commented on #80
Welp, neither I2C nor SPI will work (in my case, anyway).

I2C worked, but only one direction; I could send a "command" from the Teensy (slave) to the RP2040 (master), but the RP2040 could not send a response.  It seems that the way I2C is implemented in this library, it's Slave -> Master only.  The [`sendDatum()`](https://github.com/PowerBroker2/SerialTransfer/blob/932c426dc134cd6cdf428108b2a2d4a

[2022-01-04 21:08] #80 closed, assigned to PowerBroker2

[2022-01-04 21:12] MaffooClock commented on #80
Fanx!

I agree; very clean code without any bloat.  Well done!

I was very eager to use it, and if I can figure out what the problem is with the UART link, this will be the perfect solution.  Regardless, I starred it anyway :)

[2022-01-05 20:03] MaffooClock commented on #80
For what it's worth...

As previously confirmed, the problem I'm having is not caused by a bug in this library (there's isn't one).  Just continuing to document my experience purely for (my own) posterity.

I wrote a whole new pair of programs for the Teensy and RP2040 -- the ONLY thing they do is utilize this library to send and receive PING and PONG messages.  The Teensy sends a PING to the RP20

[2022-01-05 21:02] PowerBroker2 commented on #80
I haven't analyzed the code too closely, but perhaps this might help:

[code]

[2022-01-05 22:35] MaffooClock commented on #80
AHA!

It occurred to me that the Teensy is executing `rxObj()` almost immediately after `sendDatum()`, and perhaps it should wait for the RP2040 to respond after sending the command rather than assume the response is already available in the serial buffer.

Adding this between the `sendDatum()` and `rxObj()` granted this necessary wait period:
[code]

When the system is first starting up, the Teen

[2022-01-06 01:56] PowerBroker2 commented on #80
I don't have a lot of time to look into this until _perhaps_ this weekend, but I'm 100% sure what you are trying to accomplish is possible without editing any of the source files. You might want to check out these two example sketches that transfer a large (**over** 254 byte) text file over serial using the library. Perhaps it might clear up some things:

[TX File](https://github.com/PowerBroker2/

[2022-01-06 14:16] MaffooClock commented on #80
Oh, don't trouble yourself too much, man!  After I realized that there wasn't a bug in the library (and so closed the issue), I certainly didn't expect you to do anything.  But I sure appreciate you staying engaged if for nothing else than the conversation!

I've kinda come to the same conclusion.

I hadn't thought of that; good suggestion. 👍🏻

[2022-01-06 14:31] MaffooClock commented on #80
Derp.

New day, fresh cup o' Joe, and lookie what I found:
[code]

That might be just enough time for a packet to be considered stale.  Sheesh.  Took that delay out, and everything works just fine!

I appreciate you sticking with me through my own problem, even though you didn't have to.  Thank you.

[2022-01-21 18:13] TurboNerd95 opened #81 "Make requests to I2C slaves"
Hello,

Very good job with the library. I had a lot of struggles interconnecting Arduino's when I started out and this eliminates the trouble.

I also think there should be a way for this library to incorporate the "Wire.requestFrom()" function from the Wire library, which allows a master Arduino to collect data from 1 or more I2C slave Arduino's, while also being able to transmit data to them. Th

[2022-01-25 19:43] AcoustiCoder opened #82 "Download File and Transfer via SerialTransfer lib"
[code]

Hi, im trying to send bmp file over serial to another arduino. I just confused about how to use library on this case. I can send String data with the lib, no problem about serial communication.

I confused here :
` uint8_t sendSize = myTransfer.txObj(fileIndex);
   sendSize = myTransfer.txObj(buff, sendSize, c); `

[2022-01-26 04:22] PowerBroker2 commented on #82
Since the file has more bytes than can fit in a single packet, it must be spread out across several separate packets. These separate packets are sent and parsed separately. After each packet is parsed, the data is "stacked" together to eventually reconstruct the original file after all packets are parsed. In order to "stack" the data in order, you need to keep track of what part of the file is bei

[2022-01-27 02:32] TurboNerd95 commented on #81
Thank you for your interest in my feature request. I've been doing some tests with the "Wire.requestFrom()" function, where I try to send different sized packets of data back to the master.

The weird drawback with using I2C requests is that the master will always fill it's receive buffer with the amount of bytes it requests, even if the slave ends up sending less bytes. I've tried to overcome thi

[2022-01-27 14:42] #70 closed, assigned to PowerBroker2

[2022-01-30 00:30] #82 closed, assigned to PowerBroker2

[2022-02-06 23:24] PaulBouchier opened #83 "SerialTransfer.bytesRead != SerialTransfer.packet.bytesRead when using callbacks"
**Describe the bug**
The example arduino sketch in pySerialTransfer/README.md does a loopback echo using this line:
for(uint16_t i=0; i < myTransfer.bytesRead; i++)
which leads me to think I can rely on myTransfer.bytesRead to tell how many bytes were read during myTransfer.Available(). However, that is incorrect when using Arduino callbacks, because Arduino callbacks are called from Packet.parse(

[2022-02-12 22:12] #75 closed, assigned to PowerBroker2

[2022-02-12 22:14] PowerBroker2 commented on #83
Is this still an issue in light of [https://github.com/PowerBroker2/pySerialTransfer/issues/50](https://github.com/PowerBroker2/pySerialTransfer/issues/50)?

Also, I added callback functionality for completeness, but it might be more stable to process the packets normally (w/o callbacks).

[2022-02-13 03:38] PaulBouchier commented on #83
I think this is a documentation issue. I'm thinking a note in the README.md along the lines of "Note: when using callbacks on Arduino, the following SerialTransfer variables are invalid: SerialRead, & any others". Callbacks are really important functionality, and I greatly value it, because it means a sender can send a message and the right handler will get called on the other side to handle that

[2022-02-15 11:58] PaulBouchier commented on #83
Documentation updated in pull request #84

[2022-02-18 07:31] PaulBouchier opened #85 "API documentation autogenerated by doxygen, available from repo web page"
**Is your feature request related to a problem? Please describe.**
Method and variable documentation, while comprehensive, is scattered among .h and .cpp files. I always have to dig for the API. It should be available from a web page, documented with doxygen or the like. At present it is informally documented. You have done so much good documentation, it's a shame for it not to be more accessible.

[2022-02-27 18:02] camo200sx opened #86 "Does this work with esp32?"
I get an error when using the tx/rx datum examples of

ERROR: STALE PACKET

regards

[2022-02-27 18:29] felipe-mello commented on #86
Hello! I've just used this library to communicate between an ESP 32 and a Teensy 4.0 and I had no problems whatsoever.

One thing I noticed, though, is that if you send a lot of data in a small amount of time, some is lost. For my application, I only need about 10 transactions per second and It's been working fine.

Unfortunately, I am still a beginner with the library, so I don't know exactly wha

[2022-02-27 18:52] felipe-mello commented on #86
Quick update: I also got the STALE PACKET error here. Turns out it was just a bad connection. I moved the cables a little bit and everything started to work again... I guess checking your connections could also be a way to go.

[2022-02-28 00:14] PowerBroker2 commented on #86
It does work with the ESP32, try using `struct __attribute__((packed))` when creating structs to transfer

[2022-02-28 04:20] camo200sx commented on #86
Hmmm thanks for the help and suggestions.

So I have further tested it. I was trying to get it going using HC-12 modules as they talk in serial but got the stale packet. Also tried with the esp's connected direct, same deal. I then changed the baud rate and it appears it is working @ 4800. I was originally using 1200 as this allows the HC12 to work at the longest possible range (which I need). I'm

[2022-03-01 20:02] MacroPc opened #87 "More of a question, I think..."
New to Arduino but have years of VB6.0 experience (not that its all that similar...). Anyways, using I2C send/rec datum sketches I get:
ERROR: STOP_BYTE_ERROR

If I use the following. At first I thought I was exceeding the 254byte limit but then looking at the values and each variable in the struct I realize I'm not even close.

Rec code:

[code]

SEND CODE:

[code]

Now If I comment out the top v

[2022-03-03 19:41] PowerBroker2 commented on #87
The callback functionality seems to be a little unstable for some reason, I'd suggest you process the data normally. That being said, note that you need to call ` myTransfer.tick();` in the `loop()` for any processing to happen on the RX side.

[2022-03-03 20:05] MacroPc commented on #87
I get "No member named 'tick' in 'I2CTransfer'clang(no_member)" in the new RC build 2.0.0 when adding myTransfer.tick().

I'm trying your data examples but I'm getting the same crc error even after removing half the data I'm trying to send. When using the exact structs posted above that gave me the BYTE STOP error I still get the CRC error in the data examples. Did I break it?

I will try the othe

[2022-03-03 20:15] PowerBroker2 commented on #87
Oh, I thought you were using UART, oops. Are you using the latest version of the library?

[2022-03-03 20:20] PowerBroker2 commented on #87
Note that there is a maximum buffer length for Arduino's implementation of I2C: [see here](https://arduino.stackexchange.com/a/14379/61572)

[2022-03-03 20:42] MacroPc commented on #87
Yes I just downloaded it 2 days ago. If I was maxing out the buffer size I would think that it would work when I removed some variables from the struct (including the rest of the code ofcourse). But I still get the errors. Ive tried to pinpoint which of the variables/values is causing the code not to work but I haven't pinpointed it out yet. I had it working sending all but (maybe 5?) of the varia

[2022-03-03 20:47] PowerBroker2 commented on #87
Are you able to get the I2C examples working? Are you sure your wiring is good with connected grounds?

[2022-03-05 17:37] PaulBouchier opened #88 "SerialTransfer should support packets with 0 data bytes"
**Is your feature request related to a problem? Please describe.**
There are use cases where the arrival of a packet of a certain type in and of itself indicates what should happen. E.g. reboot, or ping (reply with pong).

**Describe the solution you'd like**
A packet received with 0 length payload data should be processed and cause the appropriate callback to be taken / message to be made availab

[2022-03-16 08:54] TurboNerd95 commented on #88
To add to this suggestion, I think the solution could be implemented in the following way;

There are 256 possible PacketID bytes; between 0 and 255. Reserve a certain amount of ID bytes for data transfer and the rest of the ID bytes should be for functions requiring no payload. The user should easily be able to modify which ID bytes have 0 payload, and which do have a payload.

This would allow f

[2022-03-17 09:32] TurboNerd95 commented on #87
The Arduino Wire library allows for each I2C transmission to be a max of 32 bytes.

This means that the 254 packet limit is only achievable with multiple I2C transmissions.

by a quick count, the size of your struct (excluding the commented out variables) seems to be about 27 bytes.

However, the SerialTransfer library also contains packet specific bytes, such as the start byte, PacketID, end byte

[2022-03-21 15:01] ghost commented on #23
Excuse me, but any news about this?

[2022-03-27 16:45] yursky91 opened #89 "Is there an error in the file transfer example?"
Hi!

I don't quite understand the values used in the [uart_tx_file.ino](https://github.com/PowerBroker2/SerialTransfer/blob/master/examples/uart_tx_file/uart_tx_file.ino) file.
Why we use `(MAX_PACKET_SIZE - 2)` in some places, and just `MAX_PACKET_SIZE` in others.
In particular, the calculation of `numPackets` seems to be going wrong:
[code]
This comment is also not very clear: `// Reserve one by

[2022-04-14 20:56] mickeyvanolst commented on #89
@yursky91 did you end up figuring out how to get this to work?

[2022-04-15 01:59] PowerBroker2 commented on #89
The code itself should be more or less ok as is, but there is a typo in the comment - I reserve "two" bytes for the current file index, not just one. That's where the `-2` comes from

[2022-04-27 23:00] janczeresnia opened #90 "When transmitting packets larger than 32 bytes got ERROR STALE PACKET"
Hi
Is it possible to send more data than 32 bytes in one packet via hardware UART between two microcontrollers without error "ERROR STALE PACKET" ?
I use Rpi Pico and Seed Studio Xiao.

[2022-04-27 23:09] PowerBroker2 commented on #90
You can send up to (and including) 254 bytes of data per packet

[2022-04-27 23:35] janczeresnia commented on #90
I know, I read the Packet.h header, but when I send a packet larger than 32 bytes, the STEEL PACKET error appears on the receiver side. It needs to send a 90-byte packet in one transmission. I have no idea how to fix this problem. I have tried different packet sizes below 32 bytes it works fine. Approximately every fifth packet passes between 33 and 48 bytes. Nothing goes up from 48 bytes. I tried

[2022-04-28 11:22] #90 closed, assigned to PowerBroker2

[2022-05-12 16:26] Senior97 opened #92 "Does it work with ESP8266(NODEMCU V3)?"
I tried examples code named uart_rx_data and uart_tx_data with NodeMCU v3 to NodeMCU v3 but it didnt work. Does it work with NodeMCU ?

Library version : 3.1.2

Regards

[2022-05-14 04:40] #87 closed, assigned to PowerBroker2

[2022-08-30 01:43] ipsod opened #93 "Please provide examples of transferring more types of data."
Just like you provide examples for spi, i2c, etc., please provide examples for all possible data types.  Or, if too much is possible, then just some basics (int and uint 8, 16, 32 bit, float, double, byte array).

[2022-08-30 17:15] PowerBroker2 commented on #93
I'm not doing all possible datatypes. As long as the datatypes match between sender and receiver, you should be good. Do you have any specific questions?

[2022-08-30 17:54] ipsod commented on #93
I think I learned what I need by looking at the code and comments for rxObj.  I was trying to lazily evaluate the library last night, to figure out if it would do what I wanted, and I didn't understand how encoding/decoding was happening.

Thanks for the library.  Looks like it's just what I wanted.

[2022-08-30 17:54] #93 closed, assigned to nobody

[2022-10-04 15:25] RayNieport opened #94 "Packet reset() overrides meaningful status in parse()"
**Describe the bug**
In Packet.cpp, the state machine in the `parse()` function calls `reset()` right before returning `bytesRead` in several locations.
Since `reset()` sets `status = CONTINUE`, the more meaningful status set by `parse()` is lost.

**Expected behavior**
For example - if the calculated CRC is different from the one received, the expected behavior is that `parse()` will return `byte

[2022-10-05 00:01] PowerBroker2 commented on #94
I removed the `packet.status` update in the `reset()` function. It compiles fine for me and I don't expect it to break anything. Can you verify the master branch solves this issue? Thanks!

[2022-10-05 15:21] RayNieport commented on #94
Seems to have done the trick. I was a little worried it might break something but so far I haven't seen anywhere that it causes issues. Thank you!

Gotta love issues that have a nice easy fix  :)

Super useful lib by the way, I've been using it alongside pySerialTransfer to send files to/from a RPi Pico.

[2022-10-05 15:21] #94 closed, assigned to PowerBroker2

[2022-10-05 16:43] PowerBroker2 commented on #94
Glad you find it useful and thanks for the bug id!

[2022-10-19 02:50] jessestevens5b opened #95 "Best method for checking that a packet is valid before reading the contents?"
I've been integrating this library into a remote control for a robot so I can have 2 way communication, but I'm find the documentation a little thin on the ground for a particular feature.

I'm not using the callback method, just the method shown in one of the examples (via UART) with the .available method, then using the .rxObj method to read the received data into a buffer array to decode.

It's

[2022-10-19 16:45] PowerBroker2 commented on #95
The `available()` member function only returns >0 if a packet has been successfully parsed (including vetting with CRC, etc). You can double check if you really want to by testing the `packet.status` flag. Here are all the possible status values:

https://github.com/PowerBroker2/SerialTransfer/blob/06804748ba26fb5adc8e3db436016caafa0681a6/src/Packet.h#L22-L28

[2022-10-19 23:22] jessestevens5b commented on #95
ah brilliant! Then it looks like what I've been doing is working.

My follow on question from this then, is that I'm running a super tight loop where timing is pretty critical, and I see that there is a timeout config option with a default of 50. Does this mean that every time a packet comes in it will wait for 50ms blocking until then? I'm just noticing some lag and trying to track down where it

[2022-10-20 02:55] PowerBroker2 commented on #95
The `available()` function has a while loop that processes all bytes present in the serial input buffer, but that shouldn't block your code for very long whatsoever. The timeout parameter is to determine when a packet becomes "stale":

https://github.com/PowerBroker2/SerialTransfer/blob/06804748ba26fb5adc8e3db436016caafa0681a6/src/Packet.cpp#L121

Imagine you receive half of one packet, some time

[2022-10-20 03:54] jessestevens5b commented on #95
This is great thanks for being so responsive. Yep definitely on top of the spacing of packets (I'm transmitting via XBee wireless UART links), as I know it's not great to overblow buffers like that. I'm thinking maybe it's just some lost bytes along the way with poor reception causing it to wait for timeouts, so I'll try out shrinking this time out so that each time it happens we don't wait for th

[2022-10-20 04:24] #95 closed, assigned to PowerBroker2

[2022-10-20 14:28] amals opened #96 "File Transfer Not working as Expected[ESP-CAM to ESP32]"
**Describe the bug**
I am trying to capture Image from ESP-CAM and send it over serial transfer to another ESP32.
I have got over here through a Forum where PowerBroker2 explained very clearly and got it working for the user it seems. But the version is outdated and I am trying to get it using latest version. However even the example code posted here is not working as expected. Its not even compil

[2022-10-20 15:38] PowerBroker2 commented on #96
Are you getting any transfer/parsing errors? These would cause dropped packets.

[2022-10-24 03:35] askiiart opened #97 "Received data always 7 (after converted to int)"
My code receives an int from 0 to 100 from my PC, converts it to an int, and displays the int in binary using some LED lights. However, the lights always display the number 7.

Code is below:
[code]

[2022-10-24 03:47] PowerBroker2 commented on #97
Try using `&` instead of `%`

[2022-10-24 21:11] askiiart commented on #97
I just got home to test that; that makes it display 15

[2022-10-24 21:30] PowerBroker2 commented on #97
Oh wait, why are you doing this?:

[code]

That typecasts the `rxBuff` pointer to an int and doesn't do anything with the data inside. I suggest looking at the [UART TX](https://github.com/PowerBroker2/SerialTransfer/blob/master/examples/uart_tx_data/uart_tx_data.ino) and [UART RX](https://github.com/PowerBroker2/SerialTransfer/blob/master/examples/uart_rx_data/uart_rx_data.ino) examples for bette

[2022-10-25 02:47] askiiart commented on #97
I made a struct before this code, and added:
[code]
It's now working, thanks for the help! I don't understand why I needed to multiply `myStruct.val` by 2, though. Would you mind explaining that to me?

[2022-10-25 02:47] #97 closed, assigned to nobody

[2022-10-25 02:54] PowerBroker2 commented on #97
I can't tell without seeing your code, but as an aside: no need to include `recSize`. It's in the wrong place within the function parameter list and isn't needed anyway (as far as I can tell)

[2022-11-05 06:35] amals commented on #96
Hi Sorry for late reply. Was busy on project delivery. Given up serial transfer and taken different route(ESPNOW Transfer). On Serial Transfer, no Errors reported. Just the data is missing. Probably we will work next week to trace the issue again. Please direct me how should I begin to resolve this bug? Did you try yourself with the example code you provided?

[2022-11-05 21:45] PowerBroker2 commented on #96
It's been a while since I tested it, but I remember doing so and it worked then

I don't have any ideas apart from asking on the Arduino or Espressif forums

[2022-11-09 16:58] adelin-mcbsoft opened #98 "Compatibiliy with AtMega4808 under MegaCoreX /w SoftwareSerial"
Hello !
So, I know that support for `SoftwareSerial` is limited, however I'm having an issue that I think it might be not related to it.

I was wondering if the library is compatible with `Arduino Nano Every` (`AtMega4809` or `AtMega4808`) family, which is ran under [MegaCoreX](https://github.com/MCUdude/MegaCoreX) board framework. It's still `8-bit AVR`, all my other libraries work, just this one

[2022-11-09 18:34] PowerBroker2 commented on #98
Looks like an "endian" difference between the two MCUs. Try swapping the byte order on the ints on the receiver and see if it helps. Might also be useful to set the int size manually.

[2022-11-09 18:52] adelin-mcbsoft commented on #98
Both MCUs report being "Little Endian".
I ran the following code to find out:

[code]
So that might not be it.
It also fails with `float`s, not only `int`s.
Weird thing that the CRC validates the packets, so has to be some bit-shifting issue, just can't figure out what...

[2022-11-14 21:21] wassx commented on #92
I currently try to make it run on a NodeMCU 8266 12F but I run into the issue that `Wire.h` is not found. (https://github.com/PowerBroker2/SerialTransfer/blob/c596233371af2735c1a20be8f70f5e5ce30bb278/src/I2CTransfer.h#L4)
@PowerBroker2 any ideas or hints please, what do I need to install here, please?

[2022-11-14 21:24] PowerBroker2 commented on #92
If the MCU you're using doesn't have the wire library in it's core, you should probably poke around the forums (either Arduino or Espressif). If it continues to be an issue, you could probably comment out all of the files/includes that are associated with Wire.h

[2022-11-14 21:24] wassx commented on #92
Ok, I assume the answer is in here: https://www.arduino.cc/reference/en/language/functions/communication/wire/
NodeMCU is not supported with the `Wire.h` library

[2022-11-14 21:25] wassx commented on #92
@PowerBroker2 ok thanks for the quick reply, I will use UART for comms and comment the I2C out then.

[2022-11-14 21:32] PowerBroker2 commented on #92
No prob. I like having I2C and SPI capabilities built into this library, but it's annoying when several board core libraries have inconsistent I2C/SPI APIs causing unnecessary problems with this lib. I probably should at some point put in preprocessor directives to automatically exclude the I2C portion of the lib if compiling for NodeMCU, but I'm busy atm

[2022-11-14 21:32] #92 closed, assigned to nobody

[2022-11-25 16:10] uncle-buzz opened #100 "compute CRC on all bytes (apart from start, stop and CRC byte of course)"
First, thank you for your library, it is very helpful!

It just lacks documentation to fully understand capabilities and usage (more than the simples examples provided), for example, the COBS stuffing on the start byte value is not well described until you read the Packet::stuffPacket or Packet::unpackPacket (I first used some COBS code for '0' value in my C# application until I understood why it

[2022-11-28 10:07] uncle-buzz commented on #100
Additionally, doing a CRC check on ID, COBS and size bytes could give the ability to send void payloads and still be able to CRC the message where only ID is the useful data like requested here: https://github.com/PowerBroker2/SerialTransfer/issues/88

[2022-11-28 15:22] uncle-buzz opened #101 "the limit of 254 max bytes doesn't avoid the 0x7E value in the packet"
**Describe the bug**
Not really a bug, but a feature not fully operational: the COBS function is preventing having any byte in the payload with the same value as the start byte (0x7E).

Sorry if I misunderstood how the library works, following statements are based on what I have understood and could be wrong, so correct me if so.

I don't know exactly what it's supposed to avoid, because the start

[2022-11-30 04:21] RobertLRead opened #102 "Why is the main code commented?"
With all due respect, I'm deviating from the bug format---this is just a question.

Why is all the functionality in SPITransfer.h and SPITransfer.cpp commented out?

I have uncommented it, and can compile. Perhaps this is a clever way to make someone read the code. I am sure this is not a mistake, it must have some purpose, but I can't fathom it.

[2022-11-30 04:27] PowerBroker2 commented on #102
Unfortunately not all Arduinos/Arduino compatible MCUs have compatible SPI APIs. I developed the original SPI portion of the library with the standard API, but it breaks for others using different boards even when they aren't using the SPI portion. I decided to stop supporting SPI for this lib to make it easier on me, but left the source code available via the commented files in case someone reall

[2022-11-30 19:32] RobertLRead commented on #102
Thank you, that makes sense. Closing this issue.

[2022-11-30 19:32] #102 closed, assigned to nobody